{% extends "base.html" %}
{% block content %}
  <script type="text/javascript">
  var next = {{ next }};
  </script>
  <div class="container">
    <br>

    <div class="row-fluid">
      <div class="span12">

        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Username</label>

            <div class="controls">
              <input id="username" type="text" id="inputEmail" placeholder="Username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>

            <div class="controls">
              <input id="password" type="password" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input id="checkbox_remember" type="checkbox">Remember me
              </label>
              <button id="button_sign_in" class="btn">Sign in</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="row-fluid">

      <div class="span5 offset1">

        <div id="error" class="alert alert-error fade in" style="display:none;">
          <strong id="error_message"></strong>
        </div>

      </div>
    </div>
  </div>


{% endblock %}