{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/lightbox-2.6.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
  <div id="detail_area">
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}


    <table id="profile">

      <tr>
        <td>
          <label for="nickname">Nickname</label>
        </td>
        <td>
          <input id="nickname" type="text" name="nickname" value="{{ user.nickname }}">
        </td>
      </tr>

      <tr>
        <td>
          <label for="statement">Statement</label>
        </td>
        <td>
          <input id="statement" type="text" name="statement" value="{{ user.statement }}">
        </td>
      </tr>

      <tr>
        <td>
          <label for="email">E-Mail</label>
        </td>
        <td>
          <input id="email" type="text" name="email" value="{{ user.email }}">
        </td>
      </tr>

      <tr>
        <td>
          <label for="avatar">Avatar</label>
        </td>
        <td>
          <img id="profile_avatar" class="avatar" src="/{{ user.avatar.url }}" alt="Avatar">

          <form id="file_upload_form" action="/fileupload">
            <input id="user_id" type="text" name="user_id" value="{{ user.id }}" hidden>
            <input id="file_upload_input" type="file" accept="image/*" hidden>
          </form>
        </td>
      </tr>

    </table>
    <div id="error"></div>
  </div>

{% endblock %}