{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "Comments/simple_functions.js" %}"></script>
    <script type="text/javascript" src="{% static "Comments/bookmarks.js" %}"></script>
    <link rel="stylesheet" href="{% static "Comments/comments.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "Comments/bookmarks.css" %}" type="text/css" media="screen"/>
    {% csrf_token %}
{% endblock %}

{% block content %}

<div class="bookmark_list">

	<div style="background:black;color:white; margin-bottom:0.25em;padding:0.1em"><b>Plain (experimental) list of bookmarked comments</b></div> 
	<span style="color:gray">You can Bookmark comments by clicking<span class="button">BOOKMARK</span> in the bottom toolbar of a comment </span>

	<div id="comments{{ id_suffix }}" class="comment_list" data-ref_type="{{ ref_type }}" data-ref_id="{{ ref_id }}" data-revision="{{ revision }}">
        {% for comment in comment_list %}
            {% include 'Comments/bookmark.html' %}
        {% endfor %}
	</div>
</div>
{% endblock content %}
