{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "Comments/simple_functions.js" %}"></script>
    <script type="text/javascript" src="{% static "Comments/bookmarks.js" %}"></script>
    <link rel="stylesheet" href="{% static "Comments/comments.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "Comments/bookmarks.css" %}" type="text/css" media="screen"/>
    {% csrf_token %}
{% endblock %}

{% block content %}

<div class="bookmark_list">

	<div class="feed_header"><b>Bookmarked comments (still experimental)</b></div> 

	<div id="comments{{ id_suffix }}" class="comment_list" data-ref_type="{{ ref_type }}" data-ref_id="{{ ref_id }}" data-revision="{{ revision }}">
        {% for comment in comment_list %}
            {% include 'Comments/bookmark.html' %}
        {% endfor %}
	</div>
</div>
{% endblock content %}
