{% load endless %}

{% lazy_paginate comment_list %}
{% for comment in comment_list %}
    <div class="comment_with_responses">
        {% include 'Comments/comment.html' %}
        <div class="r_comment_{{ comment.id }} r_list">
            {% for response in comment.responses %}
                {% include 'Comments/response.html' %}
            {% endfor %}
        </div>

        {% if requester.is_staff %}
            <a href='#' class="comment_seen" title="What has been seen, cannot be unseen!">
                {% if comment.thread_seen %} seen {% else %} Mark seen {% endif %}
            </a>
        {% endif %}
    </div>
{% endfor %}
{% show_more %}
