{% load humanize %}
{% load notification %}

<div class="comment{% if comment.author.is_staff %} staff_author{% endif %} {{ comment.visibility }}_visibility {% if comment.author == requester %} author_author{% endif %} {% if comment.score < 3 %}not3{% endif %}"
	 data-date="{{ comment.post_date|date:'U' }}"
     id="comment_{{ comment.id }}" data-comment_number="{{ comment.id }}"
     data-comment_author="{{ comment.author.display_name }}">
	 <div class="comment_top" onclick="headClick(this.parentNode);$('#detail_{{comment.id}}').hide();">
		 <div class="comment_author">{{ comment.author.display_name }}</div>
		 <div class="comment_time" title="{{ comment.post_date|date:'D j.n.y, G:i:s'}}">({{ comment.post_date | naturaltime }})</div>
		 <div class="comment_numreplies">&mdash; {{ comment.responses | length }} repl{{ comment.responses|length|pluralize:"y,ies"}}</div>
         {% if comment.deleter == None %}
			 <div class="comment_award">
				 {% if comment.promoted %}
					 {% if requester.is_staff %}
					 <a href="#" class="comment_demote" data-comment_number="{{ comment.id }}" title="Demote this comment">
						 <i class="fa fa-star fa-lg gold"></i>
					 </a>
					 {% else %}
		 		 		<a title="This comment was rewarded with a point by the organizers"><i class="fa fa-star fa-lg gold"></i></a>
					 {% endif %}
				 {% elif requester.is_staff %}
					 <a href='#' class="comment_promote" data-comment_number="{{ comment.id }}" title="Promote this comment">
						 <i class="fa fa-star fa-lg ungold"></i>
					 </a>
				 {% endif %}
	         </div>
	         <div class="comment_score {{ comment.voted }}">
	             {% if comment.author != requester %}
	                 <a href='#' class="vote_up_on" data-comment_number="{{ comment.id }}" title="This comment is helpful"><i class="fa fa-arrow-up notBlack"></i></a>
	             {% endif %}
	             <span class="comment_score_value">{% if comment.score > 0 %} +{% endif %}{{ comment.score }}</span>
	             {% if comment.author != requester %}
	                 <a href='#' class="vote_down_on" data-comment_number="{{ comment.id }}" title="This comment is not helpful at all"><i class="fa fa-arrow-down notBlack"></i></a>
	             {% endif %}
	         </div>
         {% endif %}
		 
     </div>

	 <div id="detail_{{comment.id}}" class="author_detail hidden_detail" onClick="$(this).slideUp('fast')">
		 <img src='{{comment.author.avatar.url}}'>
		 <span class="nick">{{comment.author.display_name}}</span><br>
		 <div style="width:82%">&quot;{{comment.author.statement|urlizetrunc:50}}&quot;</div>
		 {% if requester.is_staff %}
       {{comment.author.matriculation_number}} - {{comment.author.first_name}} {{comment.author.last_name}}<br>
		   <a href="mailto:{{comment.author.email}}">{{comment.author.email}}</a> &mdash; 
       {% send_notification_button course.short_title comment.author.id%}
       {% if not comment.author.is_staff %}
         {% if course %}
           &mdash;   <a href="{% url 'Evaluation:search_user' course.short_title %}?id={{comment.author.id}}">{{comment.author.display_name}}'s work</a>
         {% endif %}
       {% endif %}
     {% endif %}
	 </div>
    <div class="comment_body">
		<img src="{{ comment.author.avatar.url }}" onClick="$('#detail_{{comment.id}}').slideDown('fast')">

        <div class="comment_text">
            {% if comment.deleter == None %}
                {{ comment.text | linebreaksbr  }}
            {% else %}
                [deleted]
            {% endif %}
        </div>
    </div>

    <div class="comment_actions">
{#        {% if comment.bookmarked %}#}
{#            <a href='#' class="comment_unbookmark" data-comment_number="{{ comment.id }}" title="Remove this comment from Bookmarks">#}
{#				unbookmark#}
{#            </a>#}
{#        {% else %}#}
{#            <a href='#' class="comment_bookmark" data-comment_number="{{ comment.id }}" title="Bookmark this comment">#}
{#				bookmark#}
{#            </a>#}
{#        {% endif %}#}

        {% if comment.deleter != None %}
            <p class="comment_deleter">
                deleted {{ comment.delete_date | naturaltime }} by {{ comment.deleter.display_name }}
            </p>
        {% endif %}

        {% if comment.deleter == None %}
            {% if comment.edited_date != None %}
                <p class="comment_deleter">
                    edited {{ comment.edited_date | naturaltime }}
                </p>
            {% endif %}
            {% if requester == comment.author %}
                <a class="flR edit_link" href="javascript:void(0)" id="edit_comment_link_{{ comment.id }}">
                    edit&nbsp;&nbsp;
                </a>
            {% endif %}
            {% if requester.is_staff or requester == comment.author %}
                <a class="flR delete_comment" href="javascript:void(0)" id="delete_comment_{{ comment.id }}"
                   data-delete_id="{{ comment.id }}">
                    delete&nbsp;&nbsp;
                </a>
            {% endif %}
        {% endif %}
        <a class="flR reply_link" href="javascript:void(0)" id="reply_comment_link_{{ comment.id }}"
           data-reply_to="{{ comment.id }}">
            reply&nbsp;&nbsp;
        </a>
    </div>
</div>
