<div class="comments" id="comments" data-ref_type="{{ ref_type }}" data-ref_id="{{ ref_id }}">
    {% for comment in comment_list %}
        <div class="comment_with_responses">
            {% include 'Comments/comment.html' %}
            {% for response in comment.responses %}
                {% include 'Comments/response.html' %}
            {% endfor %}
            <a href="javascript:void(0)" id="comment_reply_link_{{ comment.id }}" data-reply_to="{{ comment.id }}">
                reply
            </a>
        </div>
    {% endfor %}
</div>
