{% load humanize %}
{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "Comments/comments.js" %}"></script>
{% endblock %}

    <form method="post" id="commentForm">{% csrf_token %}
            {{ form.as_p }}
        <button id="add_comment" onclick=postComment()>Add comment</button>
        <button id="myTest">Test Button</button>
    </form>
    <form method="post" id="replyForm" style="display:none">{% csrf_token %}
            {{ reply_form.as_p }}
        <button id="post_reply">Post reply</button>
        <button id="cancel_reply">Cancel</button>
    </form>
{% include 'Comments/comment_list.html' %}