{% load humanize %}
{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "Comments/comments.js" %}"></script>
{% endblock %}

{#    <form action="{% url 'Comments:post_comment' %}{% if from %}?next={{ from }}{% endif %}" method="post">{% csrf_token %}#}
    <form method="post" id="commentForm">{% csrf_token %}
            {{ form.as_p }}
{#        <input id="add_comment_submit" type="submit" value="Add comment submit" />#}
        <button id="add_comment" onclick=postComment()>Add comment</button>
        <button id="myTest">Test Button</button>
    </form>

    <form method="post" id="replyForm">{% csrf_token %}
            {{ reply_form.as_p }}
        <button id="post_reply" hidden="hidden">Post reply</button>
    </form>
{% include 'Comments/comment_list.html' %}