{% load humanize %}
{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "Comments/comments.js" %}"></script>
    <link rel="stylesheet" href="{% static "Comments/comments.css" %}" type="text/css" media="screen"/>
{% endblock %}

<div id="#comments_with_forms{{ id_suffix }}">
    <button id="button_add_comment_form{{ id_suffix }}" class="button_add_comment_form" data-ref_type="{{ ref_type }}" data-ref_id="{{ ref_id }}">Post a comment</button>
    <form method="post" class="comment_form" id="commentForm" style="display:none">{% csrf_token %}
            {{ form.as_p }}
        <button id="button_add_comment">Add comment</button>
        <button id="button_cancel_comment">Cancel</button>
    </form>
    <form id="replyForm" class="add_reply_form" style="display:none">{% csrf_token %}
            {{ reply_form.as_p }}
        <button id="button_post_reply">Post reply</button>
        <button id="button_cancel_reply">Cancel</button>
    </form>

    <div id="edit_buttons" style="display:none">
        <button id="edit_save">Save</button>
        <button id="edit_cancel">Cancel</button>
    </div>

    {% include 'Comments/comment_list.html' %}
</div>