{% load humanize %}

<div class="comment author_author"
	 data-date="now"
     id="comment_new"
     data-comment_author="you"
     style="display:none">
	 <div class="comment_top">
		 <div class="comment_author">you</div>
		 <div class="comment_time" title="now">(now)</div>
         <div class="comment_score">
             <span class="comment_score_value">0</span>
         </div>
     </div>

	 <div id="detail_new" class="author_detail hidden_detail">
		 <span class="nick">you</span><br>
	 </div>
    <div class="comment_body">
        <div class="comment_text">
        </div>
    </div>
</div>
