{% extends 'base.html' %}
{% load comments %}

{% block content %}
    <div>
        <button id="myTest">Test Button</button>
        <button id="stopPolling">Staahhp polling godamit</button>
        <button id="startPolling">Start polling</button>
        <a href="#" class="bookmarks_tab">Bookmarked</a>
    </div>
    <div id="comments_column_1">
        {% render_comment_list for object %}
    </div>
    <div id="comments_column_2">
        {% render_additional_comment_list for object2 %}
    </div>
{% endblock content %}
