{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "Comments/feed.js" %}"></script>
{% endblock %}

{% block content %}
    {% comments_boilerplate %}
	
	
    <div id="comments_column_1">
		<div style="background:black;color:white;padding:0.1em"><b>Open Newsfeed (Currently {% comments_count for object %} Comments)</b></div>
		<ul class="toolbar">
			<li><i class="fa fa-eye" style="color:gray"></i></li>
			<li class="button" onclick="filter(1);">All Comments</li>
			<li class="button"  onclick="filter(2);">Only Lecturer-Comments</li>
			<li class="button" onclick="filter(-1);">Hide Comments below 0</li>
			<li class="button" onclick="filter(-5);">Hide Comments below -5</li>
			<li class="button" onclick="filter(0)">No Comments</li>
		</ul>
        {% render_multi_comment_list for object %}
    </div>
	<div id="info_column">
		<div style="background:black;color:white;padding:0.1em"><b>Herzlich Willkommen! </b></div>
		<br>
			
		<p>Um in dieser Test-Session eine Belohnung zu bekommen, m&uuml;ssen sie zwei der drei &raquo;Stacks&laquo; in &raquo;Gesellschaftliche Spannungsfelder der Informatik&laquo; erfolgreich abschliessen.</p>

		<p>Dabei gilt folgender Punktespiegel:</p>
		<p>85 Punkte - sehr gut</p>
		<p>72 Punkte - gut</p>
		<p>59 Punkte - befriedigend</p>
		<p>46 Punkte - gen&uuml;gend</p>
		<p>Folien stehen dabei noch nicht zur Verf&uuml;gung. Bl&ouml;d, aber so ist es. </p>
		<br>
		<p><b>Video-Streams:</b></p>
		<br>
		<p><s>gsi - https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=139963 </s></p>
		<p><s>bhci - https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=139959 </s></p>
		<p>Video-Streams gibts auch noch nicht :(</p>
		<br>
		<p><b>Support:</b></p>
		<br>
		<p><s>gsi - gsi@igw.tuwien.ac.at</s></p>
		<p><s>bhci - bhci@igw.tuwien.ac.at</s></p>
		<p>F&uuml;r support wenden sie sich bitten einfach an einen der herumstreunenden Coder bzw. Designer dieses Systems.  </p>
		<br>
		<p><b>Frequently Asked Questions</b></p>
		<br>
		<p><i>Q: Wie unterscheidet sich der Modus zu dem des Vorjahres?</i></p>
		<p>A: Anstatt vieler kleiner, isolierter Activities sind die Arbeiten dieses Jahr in &raquo;Stacks&laquo; organisiert, die aus &raquo;Challenges&laquo; bestehen. Punkte k&ouml;nnen sie nur f&uuml;r die letzte Challenge eines Stacks bekommen. Um diese abgeben zu k&ouml;nnen, m&uuml;ssen sie jedoch zuerst alle anderen Challenges dieses Stacks ausarbeiten, die dann in einem &raquo;Double Blind Peer Review&laquo; &uuml;berpr&uuml;ft werden. <br>Konkret bedeutet das, dass Sie zu Arbeiten ihrer Kolleg/innen anonym Feedback verfassen, und entsprechend anonymes Feedback von Kolleg/innen bekommen werden.</p>
		<br>
		<p><i>Q: Ich kenn mich nicht aus, wo kann ich fragen stellen?</i></p>
		<p>A: Bevor sie eine Frage stellen, schauen sie bitte, ob diese schon von wem anderen vor ihnen im Newsfeed gestellt hat, 
			und ob dort nicht schon eine Antwort gepostet wurde. Falls nicht, posten sie ihre Frage in den Newsfeed, oder sprechen sie einen der herumstreunenden Coder bzw. Designer dieses Systems an.
			<br>Wir werden uns bem&uuml;hen, so schnell wie m&ouml;glich zu beantworten.</p>
		<br>
		<p><i>Q: Wann ist die Deadline für (eine/diese/alle) Challenges?</i></p>
		<p>A: Deadline für alle Arbeiten ist heute, 15:00 MEZ.</p>
		<br>
		<p><i>Q: Was kann ich machen, wenn die Bewertung meiner Arbeit nicht meinen Erwartungen entspricht?</i></p>
		<p>A: Sie k&ouml;nnen sie einen Kommentar zu ihrer Bewertung schreiben, in dem sie zb. eine Frage stellen, oder ihre 
			Arbeit noch einmal besser erkl&auml;ren. Damit wird ihre Arbeit intern markiert und f&uuml;r uns noch einmal sichtbar. Ihr Kommentar wird jedenfalls beantwortet werden, 
			auch wenn es manchmal etwas dauert.</p>
			<br>
		<p><i>Q: Wann bekomme ich meine Belohnung?</i></p>
		<p>A: Am Ende dieses Tests</p>
		<br><br><br><br>
    </div>
{% endblock content %}
