{% extends 'base.html' %}
{% load comments %}

{% block content %}
    {% comments_boilerplate %}
	
	
    <div id="comments_column_1">
		<div style="background:black;color:white; margin-bottom:1em;padding:0.1em"><b>Open Newsfeed </b></div>
        {% render_multi_comment_list for object %}
    </div>
	<div id="info_column">
		<div style="background:black;color:white;padding:0.1em"><b>Herzlich Willkommen! </b></div>
		<br>
			
		<p>Um in dieser Test-Session eine Belohnung zu bekommen, m&uuml;ssen sie alle drei »Stacks« erfolgreich abschliessen.</p>

		<p>Dabei gilt (in beiden LVAs) folgender Punktespiegel:</p>
		<p>85 Punkte - sehr gut</p>
		<p>72 Punkte - gut</p>
		<p>59 Punkte - befriedigend</p>
		<p>46 Punkte - gen&uuml;gend</p>
		<p>Folien stehen dabei noch nicht zur Verf&uuml;gung. Bl&ouml;d, aber so ist es. </p>
		<br>
		<p><b>Video-Streams:</b></p>
		<br>
		<p><s>gsi - https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=139963 </s></p>
		<p><s>bhci - https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=139959 </s></p>
		<p>Video-Sreams gibts auch noch nicht :(</p>
		<br>
		<p><b>Support:</b></p>
		<br>
		<p><s>gsi - gsi@igw.tuwien.ac.at</s></p>
		<p><s>bhci - bhci@igw.tuwien.ac.at</s></p>
		<p>F&uuml;r support wenden sie sich bitten einfach an einen der herumstreunenden Coder bzw. Designer dieses Systems.  </p>
		<br>
		<p><b>Frequently Asked Questions</b></p>
		<br>
		<p><i>Wie unterscheidet sich der Modus zu dem des Vorjahres?</i></p>
		<p>Es wird ihnen ab ihrer ersten Abgabe im Portfolio ein Zeugnis ausgestellt! 
			Abgaben per Mail werden nicht als erste Abgabe gezählt, können aber für Punkte im Portfolio erneut abgegeben werden.
			Es wird keine Möglichkeit geben, bewerteten Abgaben zu überarbeiten und dafür mehr Punkte zu bekommen. Sie können 
			weiterhin Kommentare schreiben, falls sie mit der Bewertung nicht einverstanden sind, wir schauen uns das an und reagieren darauf.
			Es wird voraussichtlich mehr Gruppenabgaben geben. Bitte halten sie sich hier genau an den Abgabemodus und geben sie zusätzlich zur 
			Abgabe auch alle Namen ihrer KollegInnen mit ab! Es wird voraussichtlich auch umfangreichere Abgaben für mehr Punkte geben, die 
			natürlich ein höherers Risiko darstellen, wenn sie danebengehen. </p>
		<br>
		<p><i>Ich kenn mich nicht aus, wo kann ich fragen stellen?</i></p>
		<p>Bevor sie eine Frage stellen, schauen sie bitte, ob diese schon von wem anderen vor ihnen im Newsfeed gestellt hat, 
			und ob dort nicht schon eine Antwort gepostet wurde. Vielleicht wird ihre Unklarheit auch durch ein LVA-Team-Posting beantwortet: 
			Klicken sie auf »LVA-Team Posts« in der türkisen Newsfeed-Auswahl. Falls nicht, können sie Fragen in den Newsfeed posten.
			Wir bemühen uns, diese so schnell wie möglich zu beantworten.</p>
		<br>
		<p><i>Wann ist die Deadline für (eine/diese/alle) Activities?</i></p>
		<p>Deadline in BHCI ist für alle Arbeiten der 29. Juni 2013 um 02:59 MESZ. In GSI endet die Abgabefrist am 3. Juli 2013 um 02:59 MESZ. Ausgenommen davon sind Activities, bei denen explizit eine eigene Deadline angegeben ist.</p>
		<br>
		<p><i>Was kann ich machen, wenn die Bewertung meiner Arbeit nicht meinen Erwartungen entspricht?</i></p>
		<p>Sie können sie einen Kommentar zu ihrer Bewertung schreiben, in dem sie zb. eine Frage stellen oder ihre 
			Arbeit noch einmal besser erklären. Damit wird ihre Arbeit intern markiert und für uns noch einmal sichtbar. 
			Dafür müssen sie ihre Arbeit nicht wieder abgeben. Ihr Kommentar wird jedenfalls beantwortet werden, 
			auch wenn es manchmal etwas dauert.</p>
			<br>
		<p><i>Warum gibt es manche Aktivitäten mehrmals?</i></p>
		<p>Für jede Aktivität stehen soviele Karten zur Verfügung, wie diese Aktivität abgegeben werden kann. Wenn es also drei Review-Karten gibt, dann bedeutet das, dass sie drei Reviews abgeben können.</p>
		<br>
		<p><i>Wann bekomme ich ein Zeugnis?</i></p>
		<p>Sobald sie eine Abgabe im Portfolio zur Bewertung einreichen bekommen sie ein Zeugnis. Beachten sie aber, dass keine der beiden LVAs Teil der STEOP ist. Das bedeutet, dass sie jedenfalls vier Anläufe zur Bewältigung der LVA haben (anstatt zwei wie bei STEOP-LVAs).</p>
		<br><br><br><br>
    </div>
{% endblock content %}
