{% load comments %}
{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript">
      var COMMENTS = COMMENTS || {}

      COMMENTS.POST_URL = '{% url 'Comments:post' %}';
      COMMENTS.BOOKMARKS_URL = '{% url 'Comments:bookmarks' %}';
      COMMENTS.POST_URL = '{% url 'Comments:post' %}';
      COMMENTS.DELETE_URL = '{% url 'Comments:delete' %}';
      COMMENTS.PROMOTE_URL = '{% url 'Comments:promote' %}';
      COMMENTS.BOOKMARK_URL = '{% url 'Comments:bookmark' %}';
      COMMENTS.EDIT_URL = '{% url 'Comments:edit' %}';
      COMMENTS.REPLY_URL = '{% url 'Comments:reply' %}';
      COMMENTS.VOTE_URL = '{% url 'Comments:vote' %}';
      COMMENTS.UPDATE_URL = '{% url 'Comments:update' %}';
      COMMENTS.LIST_PAGE_URL = '{% url 'Comments:list_page' %}';
      COMMENTS.MARK_SEEN_URL = '{% url 'Comments:mark_seen' %}';
      COMMENTS.AUTOCOMPLETE_TAGS_URL = '{% url 'Comments:autocomplete_tags' %}';
    </script>

    <script type="text/javascript" src="{% static "Comments/simple_functions.js" %}"></script>
    <script type="text/javascript" src="{% static "Comments/comments.js" %}"></script>
    <link rel="stylesheet" href="{% static "Comments/comments.css" %}" type="text/css" media="screen"/>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
{% endblock %}

<div id="#comments_with_forms{{ id_suffix }}">
    <button id="button_add_comment_form{{ id_suffix }}" class="button_add_comment_form" data-ref_type="{{ ref_type }}" data-ref_id="{{ ref_id }}">add comment</button>
    {% include 'Comments/comment_list.html' %}
</div>