{% load humanize %}

<div class="response_vote">
    <a href='#' class="vote_up_on" data-comment_number="{{ response.id }}" title="This comment is helpful"><i class="fa fa-angle-up"></i></a><br>
    <a href='#' class="vote_down_on" data-comment_number="{{ response.id }}" title="This comment is not helpful at all"><i class="fa fa-angle-down"></i></a>
</div>

<div class="response{% if response.author.is_staff %} staff_author{% endif %} {{ response.visibility }}_visibility {% if comment.author = requester %} author_author{% endif %}"
     id="comment_response_{{ response.id }}" data-comment_number="{{ response.id }}"
     data-comment_author="{{ response.author.display_name }}">
	 <div class="response_top">
		 <div class="comment_author">{{ comment.author.display_name }}</div>
		 <div class="comment_score"> &nbsp; {% if comment.score > 0%} +{% endif %}{{ comment.score }}</div>
		 <div class="comment_time">{{ comment.post_date | naturaltime }}</div>
	 </div>

    <div class="response_body">
		<img src="/{{ comment.author.avatar.url }}">

        <div class="response_text">
        {% if response.deleter == None %}
            {{ response.text | linebreaksbr }}
        {% else %}
            [deleted]
        {% endif %}
        </div>
    </div>

	<div class="response_bottom">
        {% if comment.promoted %}
            {% if requester.is_staff %}
                <a href='#' class="comment_demote" data-comment_number="{{ response.id }}"
                   title="Demote this comment">
                    demote comment
                </a>
            {% else %}
                <p>promoted</p>
            {% endif %}
        {% elif requester.is_staff %}
            <a href='#' class="comment_promote" data-comment_number="{{ response.id }}" title="Promote this comment">
                promote comment
            </a>
        {% endif %}

        {% if response.deleter != None %}
		<p class="response_deleter">
			deleted {{ response.delete_date | naturaltime }} by {{ response.deleter.display_name }}
		</p>
		{% endif %}

		<div class="response_actions">
			{% if requester.is_staff or requester == response.author and response.deleter == None %}
			<a href="javascript:void(0)" id="edit_response_link_{{ response.id }}" class="edit_link">
				edit
			</a>
			<a href="javascript:void(0)" id="delete_response_link_{{ response.id }}" data-delete_id="{{ response.id }}"
			class="delete_response">
			delete
			</a>
			{% endif %}
			<a href="javascript:void(0)" id="reply_comment_link_{{ response.id }}" data-reply_to="{{ comment.id }}"
				class="reply_link">
				reply
			</a>
		</div>
	</div>
</div>
