{% load humanize %}
{% load notification %}

<div class="response{% if response.author.is_staff %} staff_author{% endif %} {{ response.visibility }}_visibility {% if response.author == requester %} author_author{% endif %} comment_{{comment.id}} {% if response.score < 0 %}neg0{% endif %} {% if response.score < 3 %}not3{% endif %} {% if response.seen and requester.is_staff %}hided{% endif %}"
	 data-Cdate="{{ comment.post_date|date:'U' }}"
	 data-date="{{ response.post_date|date:'U' }}"
	 data-comment="comment_{{comment.id}}"
     id="comment_response_{{ response.id }}" data-comment_number="{{ response.id }}"
     data-comment_author="{{ response.author.display_name }}">
	 <div class="response_top" onclick="headClick(this.parentNode);$('#detail_r{{response.id}}').hide();" >
		 <div class="comment_author">{{ response.author.display_name }}</div>
		 <div class="comment_time" title="{{ response.post_date|date:'D j.n.y, G:i:s' }}">({{ response.post_date | naturaltime }})</div>
         {% if response.deleter == None %}
			 <div class="comment_award">   
			 {% if response.promoted %}
			 {% if requester.is_staff %}
				 <a href='#' class="comment_demote" data-comment_number="{{ response.id }}" title="Demote this comment">
				 	<i class="fa fa-star fa-lg gold"></i>
			 	</a>
			 {% else %}
			 	<a title="This comment was rewarded with a point by the organizers"><i class="fa fa-star fa-lg gold"></i></a>
			 {% endif %}
			 {% elif requester.is_staff %}
			 <a href='#' class="comment_promote" data-comment_number="{{ response.id }}" title="Promote this comment">
				 <i class="fa fa-star fa-lg ungold"></i>
			 </a>
			 {% endif %}
			 </div>

	         <div class="comment_score {{ response.voted }}">
	             {% if response.author != requester %}
	                 <a href='#' class="vote_up_on" data-comment_number="{{ response.id }}" title="This comment is helpful"><i class="fa fa-arrow-up notBlack"></i></a>
	             {% endif %}
	             <span class="comment_score_value">{% if response.score > 0 %} +{% endif %}{{ response.score }}</span>
	             {% if response.author != requester %}
	                 <a href='#' class="vote_down_on" data-comment_number="{{ response.id }}" title="This comment is not helpful at all"><i class="fa fa-arrow-down notBlack"></i></a>
	             {% endif %}
	         </div>
		 {% endif %}
     </div>
	 <div id="detail_r{{response.id}}" class="author_detail hidden_detail" onClick="$(this).slideUp('fast')">
		 <img src='{{response.author.avatar.url}}'>
		 <span class="nick">{{response.author.display_name}}</span><br>
		 <div style="width:81%">&quot;{{response.author.statement | urlizetrunc:50}}&quot;</div>
		 {% if requester.is_staff %}
       {{response.author.matriculation_number}} - {{response.author.first_name}} {{response.author.last_name}}<br>
		   <a href="mailto:{{response.author.email}}">{{response.author.email}}</a> &mdash;
       {% send_notification_button course.short_title response.author.id%}
       {% if not response.author.is_staff %}
         {% if course %}
           &mdash;   <a href="{% url 'Evaluation:search_user' course.short_title %}?id={{response.author.id}}">{{response.author.display_name}}'s work</a>
         {% endif %}
       {% endif %}
     {% endif %}
	 </div>

    <div class="response_body">
		<img src="{{ response.author.avatar.url }}" onClick="$('#detail_r{{response.id}}').slideDown('fast')">


        <div class="response_text">
            {% if response.deleter == None %}
                {{ response.text | linebreaksbr }}
            {% else %}
                [deleted]
            {% endif %}
        </div>
    </div>

	<div class="response_actions">
		
{#        {% if response.bookmarked %}#}
{#            <a href='#' class="comment_unbookmark" data-comment_number="{{ response.id }}" title="Remove this comment from Bookmarks">#}
{#                unbookmark#}
{#            </a>#}
{#        {% else %}#}
{#            <a href='#' class="comment_bookmark" data-comment_number="{{ response.id }}" title="Bookmark this comment">#}
{#                bookmark#}
{#            </a>#}
{#        {% endif %}#}

        {% if response.deleter != None %}
            <p class="response_deleter">
                deleted {{ response.delete_date | naturaltime }} by {{ response.deleter.display_name }}
            </p>
        {% endif %}

        {% if response.deleter == None %}
            {% if response.edited_date != None %}
                <p class="comment_deleter">
                    edited {{ response.edited_date | naturaltime }}
                </p>
            {% endif %}
            {% if requester == response.author %}
                <a class="flR edit_link" href="javascript:void(0)" id="edit_response_link_{{ response.id }}">
                    edit&nbsp;&nbsp;
                </a>
            {% endif %}
            {% if requester.is_staff or requester == response.author %}
                <a class="flR delete_response" href="javascript:void(0)" id="delete_response_link_{{ response.id }}"
                   data-delete_id="{{ response.id }}">
                    delete&nbsp;&nbsp;
                </a>
            {% endif %}
        {% endif %}
        <a class="flR reply_link" href="javascript:void(0)" id="reply_comment_link_{{ response.id }}"
           data-reply_to="{{ comment.id }}">
            reply&nbsp;&nbsp;
        </a>
    </div>
</div>
