{% load humanize %}

<div class="response_vote">
    <a href='#' class="vote_up_on" data-comment_number="{{ response.id }}" title="This comment is helpful">up vote</a>
    <span class="response_score">{{ response.score }}</span>
    <a href='#' class="vote_down_on" data-comment_number="{{ response.id }}"
       title="This comment is not helpful at all">down vote</a>
</div>

<div class="response{% if response.author.is_staff %} staff_author{% endif %} {{ response.visibility }}_visibility" id="comment_response_{{ response.id }}" data-comment_number="{{ response.id }}" data-comment_author="{{ response.author.display_name }}">
    <p class="response_text">{{ response.text }}</p>
    <p>submitted {{ response.post_date | naturaltime }} by {{ response.author.display_name }}</p>
    <a href="javascript:void(0)" id="comment_reply_link_{{ response.id }}" data-reply_to="{{ comment.id }}">
        reply
    </a>
</div>
