*.log
*.pot
*.pyc
local_settings.py
database.db
.idea
admin
.vagrant
vagrant_ansible_inventory_default
.DS_Store
Slides/settings.py
fixgit.sh
.jshintrc
reload
current_working_version_on_aurora
current_working_version_on_unchained

/aurora/static
/aurora/media
