*.log
*.pot
*.pyc
local_settings.py
database.db
.idea
admin
.vagrant
vagrant_ansible_inventory_default
.DS_Store
Slides/settings.py
fixgit.sh
.jshintrc
reload
current_working_version_on_aurora
current_working_version_on_unchained

/aurora/static

# /aurora/media
media/

static/slides/gsi/jpg/vo_10_02_13_2.jpg

static/slides/gsi/minithumbs/vo_10_02_13_2_thumb.jpg

static/slides/gsi/pdf/vo20140618_1.pdf

static/slides/gsi/thumb/vo_10_02_13_2_thumb.jpg
