.challenge {
	padding:10px;
	width:940;
}

.challenge_title {
	font-size:16px;
	font-weight:bold;
}

.challenge_description {
	margin-bottom:16px;
}

.stack {
    padding: 5px 10px 5px 10px;
	clear:both;
}

h1 {
    margin: 10px;

}

.lineL {
    background-color: #FFF;
}

.lineD {
    background-color: #eee;
}

#detail_area {
    width: 960px;
}

.stack_imgs {
	min-height:70px;
    cursor: pointer;
}

.stack_imgs > li {
	display:inline;
}

.stack_imgs > li > img {
    width: 64px;
    height: 64px;
	float:left;
}

.stack_imgs >  li:first-child > img {
    border-radius: 6px 0px 0px 6px;
}

.stack_imgs > li:last-child > img {
    border-radius: 0px 6px 6px 0px;
}

.stack .title {
    font-size: 20px;
    font-weight: bold;
}

.stack {	
	clear:both;
}

.stack .descriptions {
    padding: 10px;
}

.stack .legend {
    padding-top: 10px;
}

.review_wrapper {
	min-height:32px;
	padding:4px;
	vertical-align:center;
}

.review_box {
    height: 16px;
    width: 16px;
	border-radius:3px;
    float: left;
	margin-left:16px;
}

.review_box.inactive {
    background-color: #555555;
    opacity: 0.6;
}

.review_box.done {	
}

.review_box.in_progress {
    cursor: pointer;
}

.review_box.active {
    cursor: pointer;
}

.dropzone {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 250px;
    background-color: grey;
}

.dropzone .dz-default.dz-message {
    top: 300px;
}

.history_headline {

}
