.unstarted {
	display:none;
}

#tinymce p { 
	font-family: Helvetica Neue, Arial, sans-serif !important; 
	font-size:13px;
}

.nothere {
	display:none;
}


.XLbutton:before {
	content: '';
}


.elaboration_text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:940px;
	overflow:hidden;
	padding:8px;
}

.evaluation_text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:940px;
	padding:16px;
	background-color:#eee;
	border:1px solid silver;
}

.qa_section {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color:rgb(242,255,242);
	padding:8px;
	margin:8px 0 8px 0;
	width:100%;
	border-top:1px dashed silver;
	border-bottom:1px dashed silver;
}

.qa_section > span {
	display:block;
}


.submission_text {
	background:rgb(58,201,88);
	padding:16px 16px 32px 16px;
	color:white;
	border-radius:3px;
	margin-top:3px;
}

.real_submit {
	margin-top:10px;
	color:white;
	background:none;
	border:1px solid white;
}

.challenge {
	padding:10px;
	width:940px;
}

.challenge_title {
	font-size:16px;
	font-weight:bold;
}

.challenge_description {
	margin-bottom:16px;
}

.stack {
    padding: 5px 10px 5px 10px;
	clear:both;
}

h1 {
    margin: 10px;

}

.lineL {
    background-color: #f0f0f0;
}

.lineD {
    background-color: #f0f0f0;
}

#detail_area {
    width: 940px;
}

.stack_imgs {
	position:absolute;
	top:0px;
}

.stack_img {
	float:left;
	width:128px;
	height:128px;
	opacity: 0.1;
	filter:alpha(opacity=10); /* For IE8 and earlier */
}


.stack_icons {
	display:inline;
}

.stack_icon {
	height:24px;
	width:24px;
	border:1px solid gray;
	border-radius:3px;
	position:relative;
	top:4px;
}

.stack_status {
	
}

.stack_action {
	float:right;
}

.stack_next {
}

.stack .title {
    font-size: 1.6em;
}

.stack_done {
	display:none;
	position:absolute;
	top:-60px;
	left:-20px;
	opacity:0.15;
	margin-left:10px;
	font-size:240px;
	color:rgb(58,201,88);
}

.not_stack {
	clear:both;
	position:relative;
	padding: 1em;
	margin-left:0.5em;
	border-radius:0.5em;
	cursor:pointer;
	overflow:hidden;
	margin-bottom:0.5em;
}

.stack {	
	clear:both;
	position:relative;
	padding: 1em;
	margin-left:1.5em;
	border-radius:0.5em;
	cursor:pointer;
	overflow:hidden;
	margin-bottom:0.5em;
}

.stack .description {
	margin-bottom:1em;
	margin-top:1em;
}

.stack .legend {
}

.review_wrapper {
	min-height:32px;
	padding:4px;
	vertical-align:center;
}

.review_box {
    height: 16px;
    width: 16px;
	border-radius:3px;
    float: left;
	margin-left:10px;
	margin-top:0.2em;
}

.review_box.inactive {
    background-color: #555555;
    opacity: 0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

.review_box.done {	
/*	background-color:rgb(251, 249, 149);*/
}

.review_box.in_progress {
    cursor: pointer;
	background-color:rgba(58,201,88,0.5);
}

.review_box.active {
    cursor: pointer;
	background-color:rgba(58,201,88,0.5);
}

.dropzone {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 10px;
    background-color: #fff;
	box-shadow: inset 0px 2px 5px  rgba(0,0,0,0.8), inset 0px 70px 70px -70px rgba(0,0,0,0.2), inset 0px -70px 70px -70px rgba(0,0,0,0.1);
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
	margin-top:0;
}

.dropzone .dz-default.dz-message {
	position:relative;
	left:300px;
	height:81px;
}

.dropzone .dz-preview .dz-details .dz-size {
	background:rgba(0,0,0,0.7);
	color:white;
	font-size:80%;
	padding:2px;
	height:auto;
	width:auto;
	line-height:12px;
	position:absolute;
	bottom:5px;
	right:5px;
	left:auto;
	text-align:center;
	border-radius:3px;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	text-transform:uppercase;
	border:0;
	background:0;
	padding:0;
	margin:0;
	font-size:80%;
	color:rgb(58,201,88);
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	margin-top:5px;
	float:right;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
	margin-bottom:0;
}

.dz-filename {
	visibility:hidden;
	display:none;
}

.fig {
	margin-top:2px;
}

.mce-container-body {
	border:none;
}

.mce-container {
}

.history_headline {

}
