.unstarted {
	display:none;
}

.nope {
	opacity:0.1;
}

#tinymce p { 
	font-family: Helvetica Neue, Arial, sans-serif !important; 
	font-size:13px;
}

.mce-path-item {
	visibility:hidden!important;
}

.mce-i-resize {
	visibility:hidden;
}

.nothere {
	display:none;
}


.XLbutton:before {
	content: '';
}

.review_section {
	cursor:pointer;
	padding:8px;
	margin:8px 0 8px 0;
	width:100%;
	border-top:1px dashed silver;
	border-bottom:1px dashed silver;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background:#eee;
	font-weight:bold;
}

.review_section .question_container {
	font-size:90%;
}

.review_section .question {
	padding-left:12px;
	font-weight:normal;
}

.review_section .question:before {
	content:"â–";
}

.elaboration_text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:940px;
	overflow:hidden;
	padding:8px;
}

.evaluation_text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:940px;
	padding:16px;
	background-color:#eee;
	border:1px solid silver;
}

.qa_section {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color:rgb(242,255,242);
	padding:8px;
	margin:8px 0 8px 0;
	width:100%;
	border-top:1px dashed silver;
	border-bottom:1px dashed silver;
}

.qa_section > span {
	display:block;
}


.submission_text {
	background:rgb(58,201,88);
	padding:16px 16px 32px 16px;
	color:white;
	border-radius:3px;
	margin-top:3px;
}

.real_submit {
	margin-top:10px;
	color:white;
	background:none;
	border:1px solid white;
}

.challenge {
	padding:10px;
	width:940px;
}

.challenge_title {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
}

.challenge_description {
	margin-bottom:16px;
}

.stack {
    padding: 5px 10px 5px 10px;
	clear:both;
}

h1 {
    margin: 10px;

}

.lineL {
    background-color: #f0f0f0;
}

.lineD {
    background-color: #f0f0f0;
}

#detail_area {
    width: 940px;
}

.stack_imgs {
	position:absolute;
	top:0px;
}

.stack_img {
	float:left;
	width:128px;
	height:128px;
	opacity: 0.1;
	filter:alpha(opacity=10); /* For IE8 and earlier */
}


.stack_icons {
	display:inline;
}

.stack_icon {
	height:24px;
	width:24px;
	border:1px solid gray;
	border-radius:3px;
	position:relative;
	top:4px;
}

.stack_status {
	
}

.stack_action {
	float:right;
	position:relative;
	z-index:3000;
}

.stack_next {
	z-index:192;
	position:relative;
}

.stack .title {
    font-size: 1.6em;
	z-index:210;
	position:relative;
}

.stack_done {
	display:none;
	position:absolute;
	top:-60px;
	left:-20px;
	margin-left:10px;
	font-size:240px;
	color:white;
	z-index:101;
	/*color:rgb(58,201,88);*/
}

.not_stack {
	clear:both;
	position:relative;
	padding: 1em;
	margin-left:0.5em;
	border-radius:0.5em;
	cursor:pointer;
	overflow:hidden;
	margin-bottom:0.5em;
}

.stack {	
	clear:both;
	position:relative;
	padding: 1em;
	margin-left:1.5em;
	border-radius:0.5em;
	cursor:pointer;
	overflow:hidden;
	margin-bottom:1em;
	z-index:100;
	box-shadow:0px 2px 7px rgba(0,0,0,0.1);
	border-top:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8;
}

.stack .description {
	margin-bottom:1em;
	margin-top:1em;
	z-index:190;
	position:relative;
}

.stack .legend {
}

.review_wrapper {
	min-height:32px;
	padding:4px;
	vertical-align:center;
}

.review_box {
    height: 16px;
    width: 16px;
	border-radius:3px;
    float: left;
	margin-left:10px;
	margin-top:0.2em;
}

.review_box.inactive {
    background-color: #555555;
    opacity: 0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

.review_box.done {	
/*	background-color:rgb(251, 249, 149);*/
}

.review_box.in_progress {
    cursor: pointer;
	background-color:rgba(58,201,88,0.5);
}

.review_box.active {
    cursor: pointer;
	color:rgba(58,201,88,1);
	background-color:white;
	box-shadow: 0 0 5px rgb(58,201,88);
}

.review_box.active i {
	position:relative;
}

@-moz-document url-prefix() {
	.review_box.active i {
		vertical-align:0;
	}
}

.fig {
    margin-top:5px;
	font-size:80%;
    text-align: center;
}


.mce-container-body {
	border:none;
}

.mce-container {
}

.history_headline {

}
