{% extends "base.html" %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ellipsis.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/stack.css" type="text/css" media="screen"/>
{% load humanize %}
{% endblock %}

{% block content %}

<script type="text/javascript">

  var REVIEW_URL = "{% url 'Review:review' course_short_title=course.short_title %}";

</script>

<div id="detail_area">
  <div class="challenges_stack">
	  <div class="stack_info">
      <div class="info_title">
          {{ stack.title|safe }}
        </div>
      <div class="info_description">
          {{ stack.description|safe|urlize }}
      </div>
    </div>
    <div class="challenge_list">
     {% if not user.is_staff %}

      {% for challenge_dict in challenges_active %}
      <div class="one_challenge active{% if challenge_dict.challenge.is_final_challenge %} final_task{% endif %}"
        challenge_id="{{ challenge_dict.challenge.id }}">
          <div class="task_done" {% if challenge_dict.status.status == "Done, peer reviewed." or challenge_dict.status.status == "Evaluated." %}style="display:block;"{% endif %}><i class="fa fa-check"></i></div>
        <div class="challenge_top_bracket">&nbsp;</div>
        <div class="challenge_image_container" challenge_id="{{ challenge_dict.challenge.id }}">
            <img class="challenge_image active" src="{{ challenge_dict.challenge.image.url }}">
        </div>
          <div class="challenge-description">
                <div class="challenge-headline">{{ challenge_dict.challenge.title|safe }}</div>
                <div class="challenge-text">{{ challenge_dict.challenge.description|safe}}</div>
          </div>
          <div class="challenge-points" style="display:none">
            Points: {{ challenge_dict.challenge.points }}
          </div>
        <a href="{% url 'Challenge:challenge' course_short_title=course.short_title %}?id={{ challenge_dict.challenge.id }}" class="go_challenge button XL active" onclick="event.stopPropagation();">
          <i class="fa fa-chevron-circle-right no_clicksed" onclick="event.stopPropagation();" style="z-index:10000;position:relative;"></i>
        </a>
  <!-- writing reviews -->
        <div class="challenge_footer">
          <div class="review_space">
          {% if not challenge_dict.challenge.is_final_challenge %}

           {% for review in challenge_dict.reviews %}
            {% if review %}
             {% if review.submitted %}
              <div class="review_box done" challenge_id="{{ challenge_dict.challenge.id }}">
                <i class="fa fa-check-square-o fa-lg green"></i>
              </div>
             {% else %}
              <div class="review_box in_progress" challenge_id="{{ challenge_dict.challenge.id }}">
                <i class="fa fa-pencil-square fa-lg"></i>
              </div>
             {% endif %}
            {% elif not challenge_dict.submitted %} <!-- if review -->
              <div class="review_box inactive"></div>
            {% else %} <!-- if review -->
              <div class="review_box active" challenge_id="{{ challenge_dict.challenge.id }}">
                <i class="fa fa-pencil-square fa-lg"></i>
              </div>
            {% endif %} <!-- if review -->
           {% endfor %} <!-- for review in challenge_dict.reviews -->

         {% endif %} <!-- if not challenge_dict.challenge.is_final_challenge -->

  <!-- status -->

            <div class="status_space">
              <b>Status:</b> <span>{{ challenge_dict.status.status }} </span> 
              {% if challenge_dict.submitted %}<div class="submission_time" style="display:inline"> (Handed in {{ challenge_dict.submission_time|naturaltime }})</div>{% endif %}
			  
              {% if challenge_dict.points %}You received
                <span style="font-weight:bold;">{{ challenge_dict.points }}</span> Points.
                Full evaluation result inside.
              {% endif %}

  <!-- review results -->

              <div class="peer_reviews" challenge_id="{{ challenge_dict.challenge.id }}">
                {% if challenge_dict.awesome or challenge_dict.success or challenge_dict.fail or challenge_dict.nothing %}
                  Reviews are in:
                {% endif %}

                {% if challenge_dict.awesome or challenge_dict.success or challenge_dict.fail%}
                <span class="received_review">
                  {{ challenge_dict.awesome | add:challenge_dict.success | add:challenge_dict.fail}} x <span class="review_token">Accepted</span> &nbsp;
                </span>
                {% endif %}
                {% if challenge_dict.nothing %}
                <span class="received_review">
                  {{ challenge_dict.nothing }} x <span class="review_token red">Plagiarism/Cheated</span> &nbsp;
                </span>
                {% endif %}
                {% if challenge_dict.awesome or challenge_dict.success or challenge_dict.fail or challenge_dict.nothing %}
                  <span>Full review results inside.</span>
                {% endif %}

              </div> <!-- peer reviews -->
            </div> <!-- status space -->
          </div> <!-- review-space -->
        </div> <!-- challenge_footer -->
      </div> <!-- one_challenge -->


      {% endfor %}
	 {% else %}
	 
         {% for challenge_dict in challenges_active %}
         <div class="one_challenge active{% if challenge_dict.challenge.is_final_challenge %} final_task{% endif %}"
           challenge_id="{{ challenge_dict.challenge.id }}">
           <div class="challenge_top_bracket">&nbsp;</div>
           <div class="challenge_image_container" challenge_id="{{ challenge_dict.challenge.id }}">
               <img class="challenge_image active" src="{{ challenge_dict.challenge.image.url }}">
           </div>
             <div class="challenge-description">
                   <div class="challenge-headline">{{ challenge_dict.challenge.title|safe }}</div>
                   <div class="challenge-text">{{ challenge_dict.challenge.description|safe}}</div>
             </div>
           <div class="go_challenge button XL active" challenge_id="{{ challenge_dict.challenge.id }}">
             <i class="fa fa-chevron-circle-right no_clicksed"></i>
           </div>
	   </div>
         {% endfor %}
		 
	     {% for challenge in challenges_inactive %}
	       <div class="one_challenge active {% if challenge.is_final_challenge %} final_task{% endif %}" challenge_id="{{ challenge.id }}">
	         <div class="challenge_image_container">
	             <img class="challenge_image active" src="{{ challenge.image.url }}">
	         </div>
	           <div class="challenge-description">
	               <div class="challenge-headline">{{ challenge.title|safe }}</div>
	               <div class="challenge-text">{{ challenge.description|safe}}</div>
	           </div>
           <div class="go_challenge button XL active" challenge_id="{{ challenge.id }}">
             <i class="fa fa-chevron-circle-right no_clicksed"></i>
           </div>
	       </div>
	     {% endfor %}
	 
	 {% endif %}
    </div> <!-- challenge list -->
    <div>&nbsp;</div>
   {% if not user.is_staff %}

    <div class="challenge_list inactive">
      {% for challenge in challenges_inactive %}
        <div class="one_challenge more_high {% if challenge.is_final_challenge %} final_task{% endif %}"
             challenge_id="{{ challenge.id }}">
          <div class="challenge_image_container">
              <img class="challenge_image active" src="{{ challenge.image.url }}">
          </div>
          <div class="challenge-description cd-full">
            <div class="challenge-headline" >{{ challenge.title|safe }}</div>
            <div class="challenge-text-full">{{ challenge.description|safe}}</div>
          </div>
          <div class="challenge-points" style="display:none">
            Points: {{ challenge.points }}
          </div>
        </div>
      {% endfor %}

      <div>&nbsp;</div>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}