.feed_header {
	background:#243D2A;
    background-image: url("../img/auroraH.png");
	background-clip: border-box;
	background-origin: border-box;
	background-position: 33% 33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	border-bottom:1px solid black;
	color:white;
	padding:0.2em 0.5em;
	border-radius: 4px 4px 1px 1px;
	cursor:pointer;
	margin-bottom:1em;
}

.feed_header.newsfeed {
	margin-bottom:0;
}


#info_column p {
	font-size:13px;
}


#comments_column_1 {
	float:left;
    width: 580px;
    overflow: auto;
	margin-left:1em;
	margin-top:2em;
}

@media all and (min-width: 961px) {
	#info_column {
		float:left;
		width:330px;
		margin-top:2em;
		margin-left:1em;
	}
}

@media all and (max-width: 961px) {
	#info_column {
		float:left;
		width:580px;
		margin-top:1em;
		margin-left:1em;
	}
}

.toolbar > li {
    display:inline;
	padding:1px 0.65em;
	border-radius:1em;
	margin-left:0;
}

.toolbar {
	background-color:#eee;
	padding-bottom:4px;
	padding-left:0.5em;
}

.toolbar .fa {
	color:gray;
	font-size:120%;
}

.hilited {
	color:white;
	background-color: rgb(58,201,88);
}

.hided .comment_body, .hided .response_body {
	display:none;
}

.half {
	opacity:0.5;
}

.hided .comment_top, .hided .response_top {
	opacity:0.3;
	background-color:#d8d8d8;
}

.hided .comment_top {
}

.hided .comment_actions, .hided .response_actions {
	display:none;	
}

.hided .comment_numreplies {
	display:inline;
}

.deepHided {
	display:none !important;
}

.hided.r_list {
	display:none;
}


.vote_up_on i,.vote_down_on i {padding:2px 1px;position:relative;top:-1px;}
.comment_score_value {position:relative;top:-1px;}

.comment_seen {display:none;}
.seen_link {display:none;}
.mark_seen_link {display:none;}
