.points_table {
    width: 100%;
	/*margin-top:1em;*/
	/*margin-left:1em;*/
    /*margin-right: 40px;*/
	border:0px;
}

.points_table table {
    width: 100%;
    height: 100%;
}


.points_table td {
    vertical-align: middle;
    text-align: left;
    padding: 9px;
    font-size: 1em;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.points_table tr:first-child td {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.points_table tr.lineL td {

}

.points_table td {
	border-bottom:1px solid silver;
}

.slides {
}

.header {
}

.sum td {
	font-weight:bold;
}