.points_table {
    width: 100%;
    /*margin-top:1em;*/
    /*margin-left:1em;*/
    /*margin-right: 40px;*/
    border: 0px;
    margin-bottom: 1em;
}

.points_table table {
    width: 100%;
    height: 100%;
}

.points_table th {
    vertical-align: top;
    text-align: left;
    padding: 9px;
    font-size: 1em;
    font-family: Arial;
    color: #000000;
    background-color: #eee;
    font-size: 14px;
}

.points_table td {
    vertical-align: middle;
    text-align: left;
    padding: 4px 9px;
    font-size: 1em;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
    font-size: 14px;
}

.punkte {
	text-align:right!important;
}

.points_table tr.lineL td {

}

.points_table td {
}

.letztezeile {
	border-bottom:0;
	border-top:1px solid #ddd !important;
}

.slides {
}

.header {
}

.sum td {
    font-weight: bold;
	padding-bottom:1em;
}

.lineD {
    background: #ddd;
}

.lineH {

}