<script>
    $('#slides-li').addClass('active');
</script>

<div class = "content_navigation_bar" style="background:white">
    <ul class="content_navigation_list" title="show..." xml:lang="en">
    <li>&nbsp;&nbsp;</li>
	<!-- this is what will stay. also, the divs with class 'lectureFront' in start.html will stay. update those -->
	<li> {%if not slidecasting_mode == 'start' %}<a href="{% url 'Slides:start' course.short_title %}" class="isButton"><i class="fa fa-angle-double-left"></i> OVERVIEW</a>&nbsp;&nbsp;&nbsp;{% endif %} {% if slidecasting_mode == 'start' %} overview {% elif slidecasting_mode == 'new_comments_since' %}recent comments {% elif slidecasting_mode == 'marked_slides' %} your bookmarks {% elif slidecasting_mode == 'exercises' %} slides with exercises (?) {% elif slidecasting_mode == 'discourses' %} slides with discussions {% elif slidecasting_mode == 'search_results' %} search results {% elif slidecasting_mode == 'create_pdf' %} create pdf {% else %}date: {{lecture.start.day}}.{{lecture.start.month}}{% endif %} </li>
	{% if slidecasting_mode == 'livecast' %}
		<li>Livecast</li>
	{% elif not slidecasting_mode == 'start' %}
		<li>&nbsp;&nbsp;&nbsp;</li>
		<li class="playaudio" id="flowplayer_controls_label">Audio Player </li>
		<li class="playaudio_cmd" id="flowplayer_controls_prev" class="button b_inactive"><i class="fa fa-angle-double-left"></i></li>
		<li class="playaudio_cmd" id="flowplayer_controls_play" class="button b_inactive">PLAY</li>
		<li class="playaudio_cmd" id="flowplayer_controls_next" class="button b_inactive"><i class="fa fa-angle-double-right"></i></li>
		<li>&nbsp;</li>
		<li class="playaudio_cmd" id="flowplay_controls_where_am_i" class="button b_inactive">where am i?</li>
	    <li id="load_all_comments" class="button {% if slidecasting_mode == 'start' %}b_inactive{% endif %}" onclick="loadAllComments()">load all comments</li>
	{% endif %}
	</ul>

	<ul>
	   	<li id="search_slides_li">
    		<form action="{% url 'Slides:studio_search' course.short_title %}" method="GET"><input class="rounded_field search_field" name="search_text" type="text" placeholder="search slides"/></form>
    	</li>

	</ul>
</div>