{% extends "base.html" %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/shared.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/slides_base.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

{% include "contentbar.html" %}

<div id="contentblock">
	
	<div style="padding:30px">
	        {% for lect in lectures %}
					<div class="lectureFront vo_bookmark"><a href="{% url 'Slides:studio_lecture' lect.id_relative %}">Lecture: {{lect.start.day}}.{{lect.start.month}}</a> </div>
	        {% endfor %}
			{% comment %}
			
			<div class="lectureFront" title="show slides which had comments in the last 24 hours" onclick="ajax_request_with_feedback('studio', '{# {% url slidecasting.views.ajax_render_special_studio 'new_comments_since' course.id 24 %}?page=1&mode={{mode}}' #})"> active last 24h
			</div>
			<div class="lectureFront" title="show slides which had comments in the last 72 hours" onclick="ajax_request_with_feedback('studio', '{# {% url slidecasting.views.ajax_render_special_studio 'new_comments_since' course.id 72 %}?page=1&mode={{mode}} #}')"> 
				active last 72h
			</div>
			{% if user.is_staff %}
			<div class="lectureFront" title="show slides which had comments in the last 96 hours" onclick="ajax_request_with_feedback('studio', '{# {% url slidecasting.views.ajax_render_special_studio 'new_comments_since' course.id 96 %}?page=1&mode={{mode}} #}')"> 
				&there4;&there4; active last 4d
			</div>
			<div class="lectureFront" title="show slides which had comments in the last 120 hours" class="button b_float{%if slidecasting_mode == 'new_comments_since' and hours == '120'%}_selected{%endif%}" onclick="ajax_request_with_feedback('studio', '{# {% url slidecasting.views.ajax_render_special_studio 'new_comments_since' course.id 120 %}?page=1&mode={{mode}}' #})"> 
				&there4;&there4; active last 5d
			</div>
			<div class="lectureFront" title="show slides which had comments in the last 168 hours" onclick="ajax_request_with_feedback('studio', '{# {% url slidecasting.views.ajax_render_special_studio 'new_comments_since' course.id 168 %}?page=1&mode={{mode}} #}')"> 
				&there4;&there4; active last week
			</div>
			{% endif %}
			
			<div class="lectureFront" title="show slides with exercise-comments" onclick="ajax_request_with_feedback('studio', '{# {% url slidecasting.views.ajax_render_special_studio 'exercises' course.id %}?page=1&mode={{mode}} #}');"> 
				exercises
			</div>
			<div class="lectureFront" style="margin-bottom:1em;" title="show slides with discourse-comments" onclick="ajax_request_with_feedback('studio', '{#{% url slidecasting.views.ajax_render_special_studio 'discourses' course.id %}?page=1&mode={{mode}}#}');"> 
				discussions
			</div>
				{% endcomment %}
				<div style="clear:both"></div>
			<div class="lectureFront confused_bookmark"><a href="{# {% url 'Slides:studio_confusing' course.short_title %} #}" title="show slides which were marked as confusing" >Confusing Slides</a></div>
			<div class="lectureFront important_bookmark"><a href="{# {% url 'Slides:studio_important' course.short_title %} #}"title="show slides which were marked as important" >Important Slides</a></div>
			<div class="lectureFront liked_bookmark"><a href="{# {% url 'Slides:studio_liked' course.short_title %} #}" title="show slides which were marked as like" >Slides I like</a></div>


	</div>
	
</div>

{% endblock %}