{% extends "base.html" %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/shared.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/slides_base.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

{% include "contentbar.html" %}

<div id="contentblock">
	
	<div style="padding:30px">
	        {% for lect in lectures %}
	            {% if lect.id != lecture.id %}
					<div class="lectureFront"><a href="{% url 'Slides:studio_lecture' lect.id_relative %}">{{lect.start.day}}.{{lect.start.month}}</a> </div>
	            {% else %}
	                <div class="lectureFront"> <a > {{lect.start.day}}.{{lect.start.month}}</a></div>  		
	            {% endif %}
	        {% endfor %}
	</div>
	
</div>

{% endblock %}