{% extends "base.html" %}

{% load comments %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/shared.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/studio.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/videoplayer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}flowplayer/flowplayer-3.2.12.min.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/slides_base.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

{% include "contentbar.html" %}
{% comments_boilerplate %}


<div id="contentblock">
	<script>
	jQuery(document).ready(function($) {
		$('#contentblock').scroll(scrollEnded);
        $(window).resize(checkSlidesInView);
		videoplayer = new Videoplayer("{{STATIC_URL}}flowplayer/", "{{videoclip_url}}", "{{videoclip_name}}", {{videoclip_chapters}})
	});
	</script>	

	<br />
	<div id="flowplayer_invisible"></div>
	 {% if slidecasting_mode == 'search_results'%}
		<br />
		Your search for {{search_text}} found {{slides.count}} results. <br />
	 {% endif %} 
	<table id="slides_table">
	 <tr>
		 {% with user.customuser as customuser %}
	     {% for slide in slides %}
			<td data-id="{{slide.id}}" id="slide_{{slide.id}}" class="slide_image {% if slide in slides_preparation %}preparation_slide{% endif %}">
		        <div class="glass">
				<h1 class="glass_full glass_text_full">
				    <a {% if slidecasting_mode == 'search_results' %}href="{% url 'Slides:studio_lecture' slide.lecture.id_relative %}"{% endif %}>{{ slide.title }}</a>
	                <div>
						{% with marker='liked' count=slide.count_liked %}
						<div class="oneBB leftBB {% if slide.count_liked > 0 %}somebody{% else %}nobody{% endif %}" title="{% include 'marker_title.html' %}" onClick="markSlide(this, '{% url 'Slides:mark_slide' slide.id 'liked' 'xxx' %}')">
							<img src="{{ STATIC_URL }}img/liked{% if slide.count_liked > 0 and user in slide.liked.all %}_slide_marked{%endif%}.png" > 
						</div>
						{% endwith %}
						{% with marker='important' count=slide.count_important %}
						<div class="oneBB middleBB {% if slide.count_important > 0 %}somebody{% else %}nobody{% endif %}" title="{% include 'marker_title.html' %}" onClick="markSlide(this, '{% url 'Slides:mark_slide' slide.id 'important' 'xxx' %}')">
							<img src="{{ STATIC_URL }}img/important{% if slide.count_important > 0 and user in slide.important.all %}_slide_marked{%endif%}.png" > 
						</div>
						{% endwith %}
						{% with marker='confusing' count=slide.count_confusing %}
						<div class="oneBB rightBB {% if slide.count_confusing > 0 %}somebody{% else %}nobody{% endif %}" title="{% include 'marker_title.html' %}" onClick="markSlide(this, '{% url 'Slides:mark_slide' slide.id 'confusing' 'xxx' %}')">
							<img src="{{ STATIC_URL }}img/confusing{% if slide.count_confusing > 0 and user in slide.confusing.all %}_slide_marked{%endif%}.png" > 
						</div>
						{% endwith %}
					</div>
	            </h1>
	            </div>
				<div class="studio_slide_medium">
					<a href="{{slide.get_filepath}}/jpg/{{slide.filename}}.jpg" class="lightbox_trigger">
						<img onError="this.src='{{ STATIC_URL }}img/white_medium.jpg'" class="studio_slide" src="{{ STATIC_URL}}slides/{{ course.short_title }}/thumb/{{slide.filename}}_thumb.jpg" alt="{{slide.title}}"/ >
					</a>
				</div>
				<div id="lazyload_{{slide.id}}" class="lazyload">comments will load on demand</div>
				<div id="comments_{{slide.id}}">
					{% render_multi_comment_list for slide %}
				</div>
			</td>
	     {% endfor %}
		 {% endwith %}
	  </tr>
	  </table>
</div>

{% endblock %}