{% extends "base.html" %}

{% block content %}

<style>
p {padding:1em;}

</style>
<p>
students admitted: {{ students }}<br>
<br>
students with at least one challenge submission: {{ students_with_at_least_one_submission }}<br>
<br>
started tasks: {{ started_challenges }}/{{ elaborations }}<br>
<br>
students with points<br>
≥ 30: {{ students_with_more_than_30_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_30_points }}+4)/10);i++)document.write('█');</script></span><br>
≥ 35: {{ students_with_more_than_35_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_35_points }}+4)/10);i++)document.write('█');</script></span><br>
≥ 40: {{ students_with_more_than_40_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_40_points }}+4)/10);i++)document.write('█');</script></span><br>
≥ 45: {{ students_with_more_than_45_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_45_points }}+4)/10);i++)document.write('█');</script></span><br>
≥ 50: {{ students_with_more_than_50_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_50_points }}+4)/10);i++)document.write('█');</script></span><br>
≥ 55: {{ students_with_more_than_55_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_55_points }}+4)/10);i++)document.write('█');</script></span><br>
≥ 60: {{ students_with_more_than_60_points }} <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_60_points }}+4)/10);i++)document.write('█');</script></span><br>
<br>
review evaluations: {{ review_evaluations }}/{{ reviews }}<br>
<br>
top 20 commenter<br>
{% for commenter in commenter_top_20 %}
  {{ forloop.counter }}: {{ commenter.author__nickname }} with {{ commenter.count }} comments<br>
{% endfor %}
{% endblock %}document.write('►')