{% extends "base.html" %}

{% block content %}

<style>
p {padding:1em;}

</style>
<p>
students admitted: {{ students }}<br>
<br>
students with at least one challenge submission: {{ students_with_at_least_one_submission }}<br>
<br>
started tasks: {{ started_challenges }}/{{ elaborations }}<br>
<br>
students with points<br>
≥ 30: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_30_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_30_points }} <br>
≥ 35: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_35_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_35_points }} <br>
≥ 40: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_40_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_40_points }} <br>
≥ 45: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_45_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_45_points }} <br>
≥ 50: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_50_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_50_points }} <br>
≥ 55: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_55_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_55_points }} <br>
≥ 60: <span style="color:#888;"><script>for (i=0;i<Math.round(({{ students_with_more_than_60_points }}+4)/10);i++)document.write('█');</script></span> {{ students_with_more_than_60_points }} <br>
<br>
review evaluations: {{ review_evaluations }}/{{ reviews }}<br>
<br>
top 25 commenter<br>
{% for commenter in commenter_top_25 %}
  {{ forloop.counter }}: {% if commenter.author__is_staff %}*{% endif %}{{ commenter.author__nickname }} with {{ commenter.count }} comments<br>
{% endfor %}
*: staff user
</p>
<table style="color:gray;margin-left:1em;width:400px"><tr><td>{{ students_with_more_than_30_points }}</td><td>{{ students_with_more_than_35_points }}</td><td>{{ students_with_more_than_40_points }}</td><td>{{ students_with_more_than_45_points }}</td><td>{{ students_with_more_than_50_points }}</td><td>{{ students_with_more_than_55_points }}</td><td>{{ students_with_more_than_60_points }}</td></tr></table>

{% endblock %}document.write('►')