
.title {
	font-size:24px;
	font-weight:bold;
	margin-left:16px;
}

.avatar {
	border:1px solid silver;
    width: 96px;
    height: 96px;
	position:relative;
}

.avatar_img {
    width: 96px;
    height: 96px;
	cursor:pointer;
}


input[type=file] {
	height:24px;
	border:none;
	margin-left:108px;
}

input[type=text] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	height:18px;
	margin-bottom:6px;
	width: 387px;
	padding:5px;
	appearance:none;
	-webkit-appearance:none;
	background-color: #F6F8CE;
    border: none;
		border-radius:3px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.2) inset;
}

#name {
	box-shadow: none;	
	background-color: white;
	border:none;
}

#matriculation_number {
	box-shadow: none;
	background-color: white;
	border:none;
}

.legend {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:80%;
	color:gray;
}

#profile {
    margin-top: 50px;
    margin-left: 30px;
}

td {
    padding: 5px;
}

.line {
    margin: 20px;
}



.hidden_text {
	display:none;
	color:rgb(58,201,88);
	
}

label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	padding:5px;
	margin-bottom:6px;
    display: inline-block;
    width: 170px;
}

.currentRow {
	background-color: rgb(252,252,227);
}

.avatar_label {
	vertical-align:top;
	position:relative;
	top:6px;
}

.subtitle {
	height:14px;
	position:absolute;
	bottom:0px;
	background-color:rgba(0,0,0,0.1);
	width:96px;
	text-align:center;
    font-size: 0.6em;
	text-decoration:none;
	text-transform:uppercase;
	color:rgba(58,201,88,0.5);
	
}

.avatar:hover .subtitle {
	background-color:rgba(255,255,255,0.95);
	color:rgba(58,201,88,0.9);
	pointer-events:none;
}

