{% block additional_headers %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/elaboration_files.css" type="text/css" media="screen"/>
{% endblock %}

{% for file in files %}
    {% if forloop.first %}
    <div class="file_upload" style="">
        <div class="uploadzone">
    {% endif %}
            <div class="upload_preview">
                <div class="upload_details">
                    {% if 'pdf' in file.accepted_files %}
                        <a title="{{ file.name }}" href="{{ file.url }}" target="_blank">
                            <img alt="{{ file.name }}" src="{{ file.thumbnail_url }}"/>
                        </a>
                    {% else %}
                        <a title="{{ file.name }}" data-lightbox="preview" href="{{ file.url }}">
                            <img alt="{{ file.name }}" src="{{ file.thumbnail_url }}"/>
                        </a>
                    {% endif %}
                </div>
                <div class="upload_size">
                    <strong>{{ file.size }}MB</strong>
                </div>
                {% if file.fig %}
                    <div class="fig">{{ file.fig }}</div>
                {% endif %}
            </div>
    {% if forloop.last %}
        </div>
    </div>
    {% endif %}
{% endfor %}