{% block additional_headers %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/file_upload.css" type="text/css" media="screen"/>
{% endblock %}

{% for file in files %}
    {% if forloop.first %}
    <div class="file_upload" style="">
        <div class="uploadzone">
    {% endif %}
            <div class="upload_preview">
                <div class="upload_details">
                    {% if '.pdf' in file.0|slice:"-4:" %}
                        <a title="{{ file.3 }}" href="{{ file.2 }}" target="_blank">
                            <img alt="{{ file.3 }}" src="{{ STATIC_URL }}img/pdf_icon.jpg"/>
                        </a>
                    {% else %}
                        <a title="{{ file.3 }}" data-lightbox="preview" href="{{ file.2 }}">
                            <img alt="{{ file.3 }}" src="{{ file.2 }}"/>
                        </a>
                    {% endif %}
                </div>
                <div class="upload_title">{{ file.3 }}</div>
                <div class="upload_size">
                    <strong>{{ file.1 }}MB</strong>
                </div>
            </div>
    {% if forloop.last %}
        </div>
    </div>
    {% endif %}
{% endfor %}