{% for file in files %}
    {% if forloop.first %}
    <div class="file_upload" style="">
        <div id="dropzone" class="dropzone is_submitted dz-started">
    {% endif %}
            <div class="dz-preview dz-image-preview">
                <div class="dz-details">
                    <div class="dz-filename">
                        <span data-dz-name="">{{ file.3 }}</span>
                    </div>
                    <div class="dz-size" data-dz-size="">
                        <strong>{{ file.1 }}MB</strong>
                    </div>
                    {% if '.pdf' in file.0|slice:"-4:" %}
                        <a title="{{ file.3 }}" href="{{ file.2 }}" target="_blank">
                            <img class="preview" alt="{{ file.3 }}" src="{{ STATIC_URL }}img/pdf_icon.jpg"/>
                        </a>
                    {% else %}
                        <a title="{{ file.3 }}" data-lightbox="preview" href="/{{ file.2 }}">
                            <img class="preview" alt="{{ file.3 }}" src="/{{ file.2 }}"/>
                        </a>
                    {% endif %}
                </div>
                <div class="fig">{{ file.3 }}</div>
            </div>
    {% if forloop.last %}
        </div>
    </div>
    {% endif %}
{% endfor %}
