.overview_left, .overview_right, .detail_left, .detail_right {
    border: 1px solid #BAE46E;
    border-radius: 3px;
    background-color: #E7FFCF;
    -moz-box-sizing: border-box;
}

.overview_left {
    float: left;
    width: 300px;
    min-height: 400px;
    padding: 10px;
}

.overview_right {
    width: 100%;
	margin-left:340px;
    min-height: 400px;
    background-color: white;
    padding: 10px;
}

.clear {
    clear: left;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.detail_left {
    float: left;
    width: 49%;
    min-height: 400px;
    padding: 10px;
}

.detail_right {
    float: right;
    width: 49%;
    min-height: 400px;
    background-color: white;
}

.spacer {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #BAE46E;
}

.points, .evaluation {
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #E9F3D9;
    -moz-box-sizing: border-box;
}

.points {
    float:left;
    height: 25px;
    width: 50px;
    position: absolute;
    display: inline;
    margin: 0 0 20px 10px;
    padding: 3px;
}

.evaluation {
    min-height: 80px;
    margin-bottom: 20px;
    padding: 5px;
}

.submit_evaluation {
    float: right;
    display: block;
    height: 30px;
}

#detail_area {
    margin: 10px;
}

#detail_area h1 {
    margin-bottom: 10px;
}

.paginator, .paginator_others {
    cursor: pointer;
    margin-bottom: 10px;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.stack, .others, .challenge_txt {
    float: left;
    width: 33%;
    text-align: center;
    padding-top: 10px;
}

.menu {
    height: 10px;
}

#info_area {
    padding: 0 10px 10px 10px;
}

.submission_date {
    padding-top: 10px;
}

.reviews {
    border: 1px solid #484246;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.appraisal {
    margin-top: 15px;
}

.review_head {
    float:right;
}

.missing_reviews, .non_adequate_work, .non_adequate_reviews, .top_level_challenges, .complaints, .questions, .awesome, .search_btn {
    cursor: pointer;
}

.search_user, .search_all, .search_challenge {
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: #E9F3D9;
    height: 25px;
    margin-top: 10px;
    color: #666666;
    padding: 2px 0 0 5px;
    -moz-box-sizing: border-box;
}

.search_challenge {
    margin: 25px 0 25px 0;
}

.search_btn {
    float: left;
    border: 1px solid #BAE46E;
    border-radius: 3px;
    background-color: #BAE46E;
    height: 25px;
    width: 100%;
    margin: 10px 0 20px 0;
    color: white;
    text-align: center;
    padding: 2px 0 0 0;
    -moz-box-sizing: border-box;
}

.success_reviews, .notry_reviews, .fail_reviews {
    border-radius: 3px;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    -moz-box-sizing: border-box;
    margin-right: 3px;
}

.success_reviews {
    border: 1px solid green;
    background-color: greenyellow;
}

.notry_reviews {
    border: 1px solid orangered;
    background-color: orange;
}

.fail_reviews {
    border: 1px solid red;
    background-color: #F08080;
}

.evaluation_lock {
    float: right;
    border: 1px solid darkred;
    border-radius: 5px;
    background-color: indianred;
    padding: 0 3px 0 3px;
}

.visible_comments, .invisible_comments {
    border-radius: 10px;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    -moz-box-sizing: border-box;
    margin-right: 3px;
}

.visible_comments {
    border: 1px solid darkblue;
    background-color: cornflowerblue;
}

.invisible_comments {
    border: 1px solid gray;
    background-color: darkgray;
}


.dropzone {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
    background-color: grey;
}

.dropzone .dz-default.dz-message {
    top: 300px;
}