.pagination {
	height:1.5em;
	background:#fff;
	padding:3px 10px;
	margin-left:-10px;
	margin-right:-10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination:after {
	content:"";
	clear:both;
}

.pagination_others {
	clear:both;
	width:99%;
	height:1em;
}

.elab_in_detail {
	padding-top:1em;
	padding-bottom:1em;
	overflow:hidden;
}

.minElab {
	height:18px;
}

.klapp {
	cursor:pointer;
	float:left;
	margin-right:6px;
	color:gray;
}

.comments {
	border-top:1px dashed silver;
	border-bottom:1px dashed silver;
}

.comments b {
	margin-top:0.5em;
	margin-bottom:0.5em;
	display:block;
}


.reviews .answer {
	background-color: rgb(252,252,227);
	padding:0.5em;
	padding-top:0.25em;
}

.reviews .question, {
	padding:0.5em;
	padding-bottom:0;
}

.question_container textarea {
	box-sizing: border-box;
	width:100%;
	height:6em;
	font-size:14px;
	border:1px solid silver;
	padding: 0.5em;
}

.suButton {
	border-top:1px solid silver;
	background-color:rgb(58,201,88);
}

input[type=submit] {
	padding:0.5em;
	border-left:1px solid white;
	border-right:1px solid white;
}

.button {
	color:white;
	background-color:rgb(58,201,88);
	position:relative;
	left:80%;
}


.overview_table .lightRow, .lightTableRow {
	background-color:#fff;
	cursor:pointer;
}

.overview_table .darkRow, .darkTableRow {
	background-color:#f8f8f8;
	cursor:pointer;
}

.overview_table td {
	padding:1px;
}

.overview_left, .overview_right, .detail_left, .detail_right {
    background-color: #E7FFCF;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border-radius: 9px;
}

.overview_left {
    float: left;
    width: 20em;
    min-height: 30em;
    padding: 1em;
}

.overview_right {
	margin-left:20.5em;
    min-height: 30em;
    background-color: white;
    padding: 1em;
}

.clear {
    clear: left;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.detail_left {
    float: left;
    width: 49%;
    min-height: 400px;
    padding: 10px;
}

.detail_right {
    float: right;
    width: 49%;
    min-height: 400px;
    background-color: white;
}

.spacer {
    margin: 20px 0 20px 0;
	clear:both;
}

.points, .evaluation {
	border:1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
}

.eval_done {
	border:1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
	color:black;
}

.point_label {
	float:left;
    padding: 3px;
	margin-right:10px;
}

.points {
	text-align:right;
	float:left;
    height: 25px;
    width: 30px;
    padding: 3px 8px;
}

.evaluation {
    min-height: 80px;
    margin-bottom: 20px;
    padding: 5px;
}

.submit_evaluation {
    float: right;
    display: block;
    height: 30px;
}

.reopen_evaluation {
    float: right;
    display: block;
    height: 30px;
}

#detail_area {
    margin: 10px;
}

#detail_area h1 {
    margin-bottom: 10px;
}

.paginator, .paginator_others {
    cursor: pointer;
    margin-bottom: 10px;
	text-transform:uppercase;
	color:rgb(58,201,88);
}

.no-paginator {
    margin-bottom: 10px;
	text-transform:uppercase;
	color:gray;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.stack, .others, .challenge_txt, .review_list {
	text-transform:uppercase;
	margin-right:0.5em;
    text-align: center;
	color:rgb(58,201,88);
	cursor:pointer;
	display:inline;
	padding:1px 0.5em;
	border-radius:1em;
}

.review_list.selected, .stack.selected, .others.selected, .challenge_txt.selected {
	background-color:rgb(58,201,88);
	color:white;
}

.menu {
    height: 20px;
	background:#eee;
	padding:1px 6px;
	border-radius:1px;
}

.menu div {
	position:relative;
	top:2px;
}
.notblack {
	color:gray;
}


#info_area {
}

.submission_date {
    padding-top: 10px;
}

.reviews {
    border-radius: 5px;
    background-color: white;
    padding: 0.5em;
}

.appraisal {
    margin-top: 15px;
}

.appraisal input {
	margin-right:0.25em;
	margin-left:0.5em;
}

.review_head {
	padding:0.25em;
	padding-left:0.5em;
	margin:-0.5em;
	margin-bottom:0.5em;
    border-radius: 4px 4px 0 0;
	color:white;
	background-color:silver;
}

.between_reviews {
	height:1em;
	background-color:silver;
	margin:0.5em -0.5em 0.5em -0.5em;
}

.review_staff {
    background-color: rgb(229, 235, 253);
}

.review_body.review_staff {
	background-color: rgb(245,247,252);
}

.review_body {
	padding-bottom:0.5em;
}

.greenish {
	background-color:rgb(58,201,88);
}

.mitem {
    cursor: pointer;
	padding:2px;
	padding-left:5px;
	position:relative;
	height:18px;
	border-radius:3px;
}

.loading_animation {
	position:absolute;
	height:100px;
	margin-left:20em;
	display:none;
}

.loading_animation img {
	position:absolute;
	left:20%;
	top:100%;
}

.stabilosiert {
	background:#92A480;
	width:18.5em;
}

.mitem:active {
	background:rgba(0,0,0,0.2);
}

.stabilosiert:after {
	height:16px;
	width:16px;
	position:absolute;
	right:-7px;
	top:3px;
	content:"";
	background:#92A480;
	transform:rotate(45deg);
	border-radius:2px;
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}


.search_user, .search_all, .search_challenge {
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: #E9F3D9;
    height: 22px;
    margin-top: 10px;
    color: #666666;
    padding: 2px 0 0 5px;
    -moz-box-sizing: border-box;
}

.search_challenge {
    margin: 25px 0 25px 0;
}

.search_btn {
    float: left;
    border: 1px solid #BAE46E;
    border-radius: 3px;
    background-color: #BAE46E;
    height: 25px;
    width: 100%;
    margin: 10px 0 20px 0;
    color: white;
    text-align: center;
    padding: 2px 0 0 0;
    -moz-box-sizing: border-box;
}

.indicator_field {
	width:160px;
}

.indicator {
    border-radius: 20px;
    height:15px;
	width:18px;
	padding: 3px 1px 3px 1px;
    text-align: center;
	display:inline-block;
}

.zero_reviews {
	opacity:0.35;
	filter:alpha(opacity=35); /* For IE8 and earlier */	
}

.awesome_reviews {
	background-color:#00B700;
	border:1px solid #829B04;
	box-shadow: 0 0 4px 0px #FFBE46;
	color:#FFE8AA;
}

.success_reviews {
	background-color:#C5FFB6;
	border:1px solid #359440;
}

.fail_reviews {
	background-color:yellow;
	border:1px solid orange;
	color:black;
}

.notry_reviews {
	color:white;
	background-color:red;
	border:1px solid darkred;
}

.evaluation_lock {
    float: right;
    border: 1px solid darkred;
    border-radius: 5px;
    background-color: indianred;
    padding: 0 3px 0 3px;
}

.visible_comments, .invisible_comments {
    border-radius: 0px;
    height: 18px;
    padding: 3px 2px 0 2px;
    text-align: center;
    -moz-box-sizing: border-box;
    margin-right: 2px;
}

.visible_comments {
	border-top:1px solid gray;
	border-bottom:1px solid gray;
    background-color: white;
}

.invisible_comments {
	border-top:1px dashed gray;
	border-bottom:1px dashed gray;
    background-color: white;
}

.mini_task_img {
	width:32px;
	height=32px;
	border-radius:2px; 
}

.gravatar {
	width:32px;
	height:32px;
}

.back {
	cursor:pointer;
    width: auto;
    float: left;
    margin-right: 1em;

	color:rgb(58,201,88);
	text-transform:uppercase;
}

.error {
    color: red;
    float: right;
}

.one_challenge {
	position:relative;
	margin-top:2em;
	border-radius:1em;
	box-shadow:0px 2px 7px rgba(0,0,0,0.1);
    padding-bottom: 20px;
}

.elab_title {
	font-weight:bold;
	margin-bottom: 1em;
}

.evc_description {
	
}

.evc_challenge_image {
	width:64px;
	height:64px;
	border-radius:4px;
	border:1px solid #eee;
	float:left;
	margin-right:1em;
}

.evc_title {
	font-weight:bold;
}

.challenge-description {
	height:96px;
	position:relative;
	overflow:hidden;
	margin-left:120px;
	pointer-events:none;
	padding:0.25em;
	padding-bottom:0;
}

.challenge_top_bracket {
	border-radius: 1em 1em 0 0;
	background-color:#eee;
	background: linear-gradient(#f0f0f0,white);
	border-top:1px solid #e8e8e8;
}

.challenge-headline {
	font-weight:bold;
	pointer-events:none;
}

.challenge_image {
	width:96px;
	height:96px;
	border-radius: 64px;
	pointer-events:none;
}

.challenge_image_container {
	margin-left:0.5em;
	float:left;
	width:96px;
	height:96px;
	pointer-events:none;
	border-radius: 64px;
	border:1px solid silver;
}

.dropzone {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 10px;
    background-color: #fff;
	box-shadow: 0px 1px 3px  rgba(0,0,0,0.4) inset;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
	margin-top:0;
}

.dropzone .dz-default.dz-message {
	position:relative;
	left:300px;
	height:81px;
}

.dropzone .dz-preview .dz-details .dz-size {
	background:rgba(0,0,0,0.7);
	color:white;
	font-size:80%;
	padding:2px;
	height:auto;
	width:auto;
	line-height:12px;
	position:absolute;
	bottom:5px;
	right:5px;
	left:auto;
	text-align:center;
	border-radius:3px;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	text-transform:uppercase;
	border:0;
	background:0;
	padding:0;
	margin:0;
	font-size:80%;
	color:rgb(58,201,88);
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	margin-top:5px;
	float:right;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
	margin-bottom:0;
}

.dz-filename {
	visibility:hidden;
	display:none;
}

.fig {
	margin-top:2px;
}

.review_answer {
   width: 100%;
   height: 5em;
   font-size: 13px;
   border: 1px solid silver;
   padding: 0.5em 0px;
}


.author_detail {
	clear:both;
	font-size:12px;
	color:#333;
	padding:6px;
	height:88px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3) inset;
	background-color:#ddd;
	cursor:pointer;
	position:relative;
	top:-1px;
}

.hidden_detail {
	display:none;
}

.author_detail .nick {
	font-weight:bold;
}

.eval_appraisal > input[type=radio] {
	display:none;
}
.eval_appraisal > input[type=radio] + label {
	padding:1px 10px;
	border-radius:15px;
	border:1px solid rgba(0,0,0,0);
}

.eval_appraisal > input[type=radio]:checked + label {
	border: 1px solid rgb(58,201,88)
}

.eval_appraisal > input[type=radio]:checked + #X1t {
	background-color:#00B700;
	border:1px solid #829B04;
	box-shadow: 0 0 4px 0px #FFBE46;
	color:#FFE8AA;
}

.eval_appraisal > input[type=radio]:checked + #X2t {
	background-color:#C5FFB6;
	border:1px solid #359440;
}

.eval_appraisal > input[type=radio]:checked + #X3t {
	background-color:yellow;
	border:1px solid orange;
	color:black;
}

.eval_appraisal > input[type=radio]:checked + #X4t {
	color:white;
	background-color:red;
	border:1px solid darkred;
}

label {
	cursor:pointer;
}






