.notification {
    min-height: 30px;
	width:936px;
	margin:12px;
    border: 1px;
    border-style: solid;
    border-color: silver;
    overflow: hidden;
}

.notification.read {
    background-color: #fff;
	color:gray;
}

.notification.unread {
    background-color: lightgreen;
}

.notification img {
    width: 30px;
    float: left;
}

.notification_text {
	padding:5px;
    overflow: hidden;
	line-height:20px;
}

a {
	text-decoration:none;
}

#read_all_button {
	position:relative;
	left:12px;
	top:4px;
	color:green;
	style:none;
}