{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenges.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

  <div id="detail_area">

    <h1>Available Stacks</h1>

    {% for stack in course_stacks %}
      <div class="stack {% cycle 'lineD' 'lineL' %}" id="{{ stack.id }}">
        <div class="title">{{ stack.title }}</div>
        <div class="description">{{ stack.description }}</div>
    	<div class="legend">Challenges in this stack:</div>
        <ul class="stack_imgs">
    		{% for image_url in stack.get_challenge_image_urls %}
        		<li><img class = "stack_img" src="{{ STATIC_URL }}img/{{ image_url }}"></li>
    		{% endfor %}
        </ul>
      </div>
    {% endfor %}

  </div>

{% endblock %}