{% extends "base.html" %}

{% load comments %}
{% load render_uploads %}
{% load render_review_answers %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/challenge.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/review_evaluation.js"></script>
{% if not elaboration.is_submitted %}
<script type="text/javascript" src="{{ STATIC_URL }}dropzone/dropzone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/file_upload.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/dropzone.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/basic.css" type="text/css" media="screen"/>
{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/lightbox.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
{% load humanize %}
{% endblock %}

{% block content %}
{% comments_boilerplate %}

<script type="text/javascript">

  var SAVE_URL = "{% url 'Elaboration:save' course_short_title=course.short_title %}";
  var SUBMIT_URL = "{% url 'Elaboration:submit' course_short_title=course.short_title %}";
  var STACK_URL = "{% url 'Challenge:stack' course_short_title=course.short_title %}";
  var REVIEW_EVALUATION_URL = "{% url 'Review:evaluate' course_short_title=course.short_title %}";

</script>

<div id="detail_area">
  <div id="{{ challenge.id }}" class="challenge" stack="{{ challenge.get_stack.id }}">
    <div class="challenge_title" style="cursor:pointer;" {% if elaboration.is_submitted %}onclick="$('.challenge_description').slideToggle('fast');"{% endif %}>
    {{ challenge.title|safe }}
	{% if elaboration.is_submitted %}
		<button style="font-size:16px" class="R"> toggle details </button>
	{% endif %}
    </div>
    <div style="display:none">Points: {{ challenge.points }}</div>
    <div class="challenge_description{% if elaboration.is_submitted %} nothere{% endif %}" >
      {{ challenge.description|safe|urlize }}
      <div class="qa_section">
        <div class="comments">
          <span style="cursor:pointer;" onclick="$('#qa').slideToggle('fast');"><b><i class="fa fa-toggle-down"></i>
            Task Q+A Section</b> - {% comments_count for challenge %} comments so far<br>
          </span>
          <div id="qa" class="challenge_comments"{% if not user.is_staff %} style="display:none"{% endif %}><br>{% if not user.is_staff %}If you have questions about the description of this task, post
            them here. The course organizers will answer as soon as possible.{% endif %}
{% render_multi_comment_list for challenge %}
          </div>
        </div>
      </div>
	  {% if not reviews and not challenge.is_final_challenge %}
	  
	  <div class="review_section">
		<div onclick="$('.review_questions').slideToggle('fast');">
			<i class="fa fa-toggle-down"></i>
    		Review Questions
    	</div>

{% if review_questions %}
		  <div class="review_questions nothere">
			  <br>
			  <div class="title">Your work will be reviewed by peers on the following criteria:</div>
			  <br>
{% for review_question in review_questions %}
        <div class="question_container">
          <div class="question">
            {{ review_question }}
          </div>
        </div>
{% endfor %}
		  </div>
{% endif %}
	  </div>
	  {% endif %}
    </div>
	  
{% if user.is_staff %}
    [you are admin. you cannot accept tasks]
{% else %}
	{% if not elaboration.is_submitted %}
		{% if not accepted %}
            <div id="Caccept" class="button XL"
    			onclick="$('.elaboration_block').slideDown('fast');$('#Caccept').slideUp('fast');$('#qa').slideUp('fast');">
    			start this task
    		</div>

        {% comment %}
            <div class="button XL">
    			end of semester reached
    		</div>
        {% endcomment %}
		{% endif  %}
    	<div class="elaboration_block{% if not accepted %} unstarted{% endif %}">
			{% if challenge.accepted_files %}
    		<div class="file_upload" accepted_files="{{ challenge.accepted_files }}">
      			<form action="/fileupload"
   			 		class="dropzone dz-clickable{% if elaboration.is_submitted %} is_submitted{% endif %}"
    				id="dropzone">
        			<input id="elaboration_id" type="hidden" name="elaboration_id" value="{{ elaboration.id }}"/>
					{% csrf_token %}
      			</form>
      			<div style="font-size:80%">Note: use »Fig.X« in your text to reference to uploaded images.</div>
    		</div>
			{% endif %}
    <form method="post">
      <textarea id="editor">{{ elaboration.elaboration_text }}</textarea>
    </form>
      {% if not blocked %}
      <button id="EWfE" class="{% if not lock %} submit {% endif %}XL R" {% if lock %}disabled="disabled" style="color:darkred;"{% endif %}>
          {% if lock %}Enter this work for Evaluation on {{ lock }} or later
          {% else %}Enter work for Evaluation
          {% endif %}
      </button>
      <div class="submission_text" hidden>
        <div>
          I certify that the work presented here is, to the best of my knowledge and belief, original and the result of
          my own investigations and creation, except as acknowledged, and has not been submitted, either in part or whole,
          for a degree at this or any other University.
        </div>
        <div>
          <button class="real_submit XL R" id="{{ challenge.id }}">Submit work</button>
        </div>

      </div>
	  {% else %}
	  <div class="XL R" style="color:lightgray;">(your work is saved; waiting for reviews on preparatory tasks before hand-in is possible)</div>
      {% endif %}
    </div>
{% else %}
{% if challenge.accepted_files %}
{% render_uploads elaboration %}
{% endif %}
Handed in <a style="color:black;text-decoration: none;" href="javascript:$('#wai_t').text('{{ elaboration.submission_time|date:'j. F, H:i' }}');setTimeout(function(){ $('#wai_t').text('{{elaboration.submission_time|naturaltime}}'); }, 3000);void(0);" title="{{ elaboration.submission_time|date:'j. F, H:i' }}"><i class="fa fa-calendar"></i> <span ID="wai_t">{{ elaboration.submission_time|naturaltime }}</span>
    <textarea id="editor_challenge">{{ elaboration.elaboration_text }}</textarea>
{% if evaluation %}
    <div class="comments">
      <div class="evaluation_text">Evaluation text: {{ evaluation.evaluation_text|safe }}</div>
    </div>
{% endif %}
    <div class="comment_section">
      <div class="comments">
        <div class="elaboration_comments">
          <b>Discuss with LVA team</b> - {% comments_count for elaboration %} comments so far
{% render_multi_comment_list for elaboration %}
        </div>
      </div>
    </div>
    <div class="all_reviews">
{% if reviews %}
      <div class="title">You received the following reviews for your work</div>
      <div>&nbsp;</div>
{% for review_data in reviews %}
      <div class="view_review">
{% render_review_answers review_data.review_id %}
        <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Review conclusion: <b>
{% if review_data.appraisal == "Awesome" %} Accepted
{% elif review_data.appraisal == "Success" %} Accepted
{% elif review_data.appraisal == "Fail" %} Accepted
{% elif review_data.appraisal == "Not even trying" %} Plagiarism or cheated
{% endif %}
          </b>
        </div>
      </div>
	  <div class="review_evaluation_drawer">
		<div class="review_evaluation_text">How would you rate this review? </div>
        <div id="{{ review_data.review_id }}" class="review_evaluation_container">
            <div review_id="{{ review_data.review_id }}" appraisal="P"
                 class="review_evaluation positive {% if review_data.evaluation == "P" %} active{% endif %}">
                helpful
            </div>
            <div review_id="{{ review_data.review_id }}" appraisal="D"
                 class="review_evaluation neutral {% if review_data.evaluation == "D" %} active{% endif %}">
                average
            </div>
            <div review_id="{{ review_data.review_id }}" appraisal="N"
                 class="review_evaluation negative{% if review_data.evaluation == "N" %} active{% endif %}">
                meaningless or offensive
            </div>
        </div>
	</div>
      <div>&nbsp;</div>
{% endfor %}
    </div>
{% endif %}
{% endif %}
{% endif %}
  </div>
</div>
{% endblock %}