{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenges.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

  <div id="detail_area">

	  <div class="stack">
		  Zur Zeit stehen folgende &Uuml;bungsbl&ouml;cke zur Verf&uuml;gung. Mehr Bl&ouml;cke werden im Laufe des Semesters hinzugef&uuml;gt. Bitte beachten sie die auf der Startseite angef&uuml;hren allgemeinen Regeln.   
	  </div>
    {% for stack in course_stacks %}
      <div class="stack {% cycle 'lineD' 'lineL' %}" id="{{ stack.stack.id }}">
		<div class="title">
			<b>{{ stack.stack.title }}:</b> {{ stack.stack.get_challenge_image_urls|length }} Levels
			<div class="stack_icons" style="float:right">
        		{% for image_url in stack.stack.get_challenge_image_urls %}
        		<img class="stack_icon" src="{{ STATIC_URL }}img/{{ image_url }}" alt="{{stack.}}"></img>
        		{% endfor %}
       	 	</div>
		</div>
        <div class="description">{{ stack.stack.description }}</div>
{#       Status: <b>{{ stack.status.status }}.</b>#}
		<div class="stack_status">
			 <div class="stack_action button XL">do it</div>
			 <div class="stack_next">Status: <b>{{ stack.status.next }} {% if stack.points != 0 %}{{ stack.points }}{% endif %}</b></div>
		</div>
 
      </div>
    {% endfor %}

  </div>

{% endblock %}