{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenges.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

  <div id="detail_area">

	  <div class="not_stack">
		  Zur Zeit stehen folgende Challenges zur Verf&uuml;gung. Mehr werden im Laufe des Semesters hinzugef&uuml;gt. Bitte beachten Sie die allgemeinen Regeln, die in <a href="http://igw.tuwien.ac.at/aurora/aurora_challenges.pdf">Arbeiten in Aurora</a> und <a href="http://igw.tuwien.ac.at/aurora/aurora_reviews.pdf">zum Schreiben von Reviews</a> zusammengefasst sind.   
	  </div>
    {% for stack in course_stacks|dictsort:"stack.title" %}
      <div class="stack {% cycle 'lineD' 'lineL' %}" id="{{ stack.stack.id }}">
		<div class="title">
			<b>{{ stack.stack.title|safe }}:</b> {{ stack.stack.get_challenge_image_urls|length }} Tasks
			<div class="stack_icons" style="float:right">
        		{% for image_url in stack.stack.get_challenge_image_urls %}
        		<img class="stack_icon" src="{{ image_url }}"/>
        		{% endfor %}
       	 	</div>
		</div>
        <div class="description">{{ stack.stack.description|safe|urlize }}</div>
{#       Status: <b>{{ stack.status.status }}.</b>#}
		<div class="stack_status">
			 <a href="stack?id={{ stack.stack.id }}" class="stack_action button XL" onclick="event.stopPropagation();">ENTER CHALLENGE</a>
			 <div class="stack_next">Status: <b>{{ stack.status.next }} {% if stack.points != 0 %}{{ stack.points }}{% endif %}</b></div>
		</div>
		<div class="stack_done" {% if stack.points != 0 %}style="display:block;"{% endif %}><i class="fa fa-check"></i></div>
 
      </div>
    {% endfor %}

  </div>

{% endblock %}