{% load comments %}
{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenge.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/file_upload.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/lightbox-2.6.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>

{% endblock %}

<div id="{{ challenge.id }}" class="challenge">
  <h1>Details</h1>

  <div>
    {{ challenge.id }} {{ challenge.title }}
  </div>

  <div>
    {{ challenge.description }}
  </div>
  {% if challenge.accepted_files %}
    <div class="file_upload" accepted_files="{{ challenge.accepted_files }}">
      <form action="/fileupload" class="dropzone dz-clickable{% if elaboration.is_submitted %} is_submitted{% endif %}"
            id="dropzone">
        <input id="elaboration_id" type="hidden" name="elaboration_id" value="{{ elaboration.id }}"/>
        {% csrf_token %}
      </form>
    </div>
  {% endif %}

  {% if not elaboration.is_submitted %}
    <form method="post">
      <textarea id="editor">{{ elaboration.elaboration_text }}</textarea>
    </form>
    <button class="submit">Enter for Evaluation</button>
    <div class="submission_text" hidden>
      I certify that the work presented here is, to the best of my knowledge and belief, original and the result of my
      own<br>
      investigations and creation, except as acknowledged, and has not been submitted, either in part or whole, for
      a<br>
      degree at this or any other University.<br><br>
      Please press submit again.<br>
      <button class="real_submit" id="{{ challenge.id }}">Submit</button>
    </div>
  {% else %}
    <div class="elaboration_text">{{ elaboration.elaboration_text |safe }}</div> <!-- TODO: this has to be secure -->
  {% endif %}

  {% if evaluation %}
    <div class="evaluation_text">Evaluation Text: {{ evaluation.evaluation_text }}</div>
    {% render_comment_list for evaluation %}
  {% else %}
    {% render_comment_list for challenge %}
  {% endif %}


</div>