{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}


<div class="challenges_stack">

  <h1>Stack</h1>

  {% for challenge in challenges %}
    <div class="challenge" id="{{ challenge.id }}">
      <img class="challenge_image" src="{{ STATIC_URL }}img/{{ challenge.image_url }}">
       {{ challenge.title }} {{ challenge.description }}
    </div>
    <div>
      Challenge id: {{ challenge.id }}
    </div>

    <div>
      Previous id: {{ challenge.get_previous.id }}
    </div>
    <div>
      Next id: {{ challenge.get_next.id }}
    </div>


  {% endfor %}

</div>