{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenges.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

  <div id="detail_area">

    <h1>Overview</h1>

    {% for stack in course_stacks %}
      <div class="stack" id="{{ stack.id }}">
        <div class="title">{{ stack.title }}</div>
        <div class="description">{{ stack.description }}</div>
        {% for image_url in stack.get_challenge_image_urls %}
          <img src="{{ STATIC_URL }}img/{{ image_url }}">
        {% endfor %}
      </div>
    {% endfor %}

  </div>

{% endblock %}