{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenge.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

  <div class="title">Challenges open</div>

  <div class="leftcol">
    {% for challenge in challenges %}
      <div class="challenge" id="{{ challenge.id }}">
        {{ challenge.id }} {{ challenge.title }}
      </div>
    {% endfor %}
  </div>

  <div class="rightcol" id="detail_area">
  </div>

{% endblock %}