
{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
{% endblock %}

<div>
  {{ challenge.title }}
</div>

<div>
  {{ challenge.description }}
</div>

<form method="post">
    <textarea id="editor">{{ elaboration.elaboration_text }}</textarea>
</form>

<button class="submit" id="{{ challenge.id }}">Submit</button>

