{% extends "base.html" %}

{% block content %}

  <h1>Challenges open</h1>

  <div>
    {% for challenge in challenges %}
        <div style="width: 400px; height: 200px; border: 1px solid">
             {{ challenge.id }}<br/>
             {{ challenge.title }}<br/>
             {{ challenge.subtitle }}<br/>
             {{ challenge.description }}<br/>
             {{ challenge.cardImageUrl }}<br/>
             {{ challenge.backgroundImageUrl }}
        </div>
    {% endfor %}
  </div>

{% endblock %}