.review_token {
	padding:0px 8px;
	border-radius:20px;
	font-size:80%;
	background-color:#C5FFB6;
	border:1px solid #359440;
}


.review_token.yellow {
	background-color:yellow;
	border:1px solid orange;
	
}

.review_token.green {
	padding:-1px 7px;
	background-color:#00B700;
	border:1px solid #829B04;
	box-shadow: 0 0 4px 0px #FFBE46;
	font-weight:bold;
	color:#FFE8AA;
}

.review_token.red {
	color:white;
	background-color:red;
	border:1px solid darkred;
}

.challenge_image {
	width:96px;
	height:96px;
	border-radius: 6px;
	pointer-events:none;
}

.challenge_image_container {
	margin-left:1em;
	float:left;
	width:96px;
	height:96px;
	pointer-events:none;
	border-radius: 6px;
	border:1px solid silver;
}

.received_review {
    cursor: pointer;
}

.go_challenge {
	position:absolute;
	bottom:9px;
	right:12px;
}

.no_clicksed {
	pointer-events:none;
	font-size:150%;
}

.review_space {
	margin-left:1em;
	padding-top:0.25em;
}

.status_space {
	margin-left:120px;
	cursor: default;
	margin-top:2px;
}

.challenges_stack {
	margin-left:0.5em;
	max-width:940px;
	padding:1em;
}

.info_title {
	font-size:1.5em;
	font-weight:bold;
}

.info_description {
	margin-top:1em;
}

.challenge_list {
	margin-top:1em;
}

.challenges_stack tr {
}

.challenges_stack tr td{
/*	border:1px dotted silver; */
	vertical-align:top;
}

.challenge-headline {
	font-weight:bold;
	pointer-events:none;
}

.inactive {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}


.one_challenge {
	clear:both;
	cursor:pointer;
	position:relative;
	margin-top:1em;
	border-radius:0.5em;
	box-shadow:0px 2px 7px rgba(0,0,0,0.1);
	background:#eee;
}

.more_high {
}

.challenge-description {
	height:96px;
	position:relative;
	overflow:hidden;
	text-overflow: ellipsis;
	margin-left:120px;
	pointer-events:none;
	padding:0.25em;
	padding-bottom:0;
	padding-left:0.75em;
}

.challenge-text {
	width:725px;
}

.clickme {
	pointer-events:auto;
}

.challenge-text-hidden {
	position:relative;
	display:none;
	width:725px;
}

.challenge_top_bracket {
	border-radius: 1em 1em 0 0;
	border-top:1px solid #e8e8e8;
}

.challenge_footer {
	padding:0em 0.25em 0.5em 0.25em;
	border-radius: 0 0 1em 1em;
/*	background: linear-gradient(#fafafa,#eee);*/
	border-bottom:1px solid #e8e8e8;
	cursor:default;
}


.singleChallenge {
}


.review_label {
	clear:both;
}

.task_done {
	display:none;
	position:absolute;
	top:-20px;
	left:20px;
	font-size:130px;
	color:rgba(58,201,88,0.3);
	pointer-events:none;
	text-shadow:0 0 0 rgba(255,255,255,0.6);
}

.final_task {
	box-shadow:0px 2px 7px rgba(0,0,0,0.1), 0 0 6px 6px rgba(255,212,30,0.2);
}

.below {
	opacity:0.6;
	filter:alpha(opacity=86); /* For IE8 and earlier */
	
}

.divider {
	margin-top:10px;
	border-top:1px dashed black;
}

.row1 {
	padding:16px 4px 16px 0;
	font-size:20px;
	font-weight:bold;
}