.challenge_image {
	border-radius:12px 0 0 0;
	width:128px;
	height:128px;
	float:left;
	margin-right:10px;
}

.challenge_image.active{
    cursor: pointer;
}

.received_review {
    cursor: pointer;
}

.challenges_stack {
}

.singleChallenge {
}

.challenge {
	clear:both;
	min-height:128px;
	padding-left:16px;
}

.review_label {
	clear:both;
	color:white;
	
}


.challenge_description {
	padding:10px;
}