.challenge_image {
	width:96px;
	height:96px;
}

.challenge_image.active{
    cursor: pointer;
}

.received_review {
    cursor: pointer;
}

.challenges_stack {
	margin-left:16px;
	max-width:940px;
}

.challenges_stack tr td{
/*	border:1px dotted silver; */
	vertical-align:top;
	max-height:96px;
}

.singleChallenge {
}

.challenge {
	clear:both;
	min-height:96px;
	max-height:96px;
	padding-left:16px;
}

.review_label {
	clear:both;
	
}


.challenge_description {
}

.below {
	opacity:0.6;
	filter:alpha(opacity=86); /* For IE8 and earlier */
	
}

.divider {
	margin-top:10px;
	border-top:1px dashed black;
}

.row1 {
	padding:16px 4px 16px 0;
	font-size:20px;
	font-weight:bold;
}