.label {
	cursor:pointer;
}

.all_reviews, .review {
	max-width:940px;
	padding:1em;
}

.view_review {
	padding:1em 0.5em;
	position:relative;
/*	box-shadow: 0px 3px 6px #ccc inset; */
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	background-color:#eee;
}


.view_review:before, .view_review:after  {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 10px 5px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.view_review:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.comment_section {
	margin-top:0px;
	border-top:0px;
	border-right:4px solid white;
	border-left:4px solid white;
}


.challenge > .title {
	font-weight:bold;
	padding:1em;
	padding-bottom:0;
}

.all_reviews > .title{
	font-weight:bold;
	padding:1em;
}
 
.challenge > .description {
	font-size:90%;
	background:#eee;
	padding:1em;
}

.review > .elaboration {
	padding:1em;
	background:#eee;
	box-shadow: 0px 3px 6px #ccc inset;
}

.review > form {
	border: 1px solid silver;
}

.betweentext {
	margin-top:2em;
	padding:0.5em;
	color:white;
	background-color:rgb(58,201,88);
}

.question_container {
	margin-bottom:1em;
}

.question_container .review_answer {
	box-sizing: border-box;
	width:100%;
	height:20px;
	padding:1em;
	font-size:1em;
}

.view_review .appraisal {
	position:relative;
	border-radius: 0 20px 20px 0;
	padding:0.5em;
	padding-left:1.5em;
	width:33%;
	margin-top:0.5em;
	margin-left:-1em;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 1px 2px rgba(255,255,255,0.5) inset;
	
}

.view_review .appraisal:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -14px;
	z-index: -1;
	width: 0;
	height: 0;
	border-right: 19px solid gray;
	border-top: 14px solid rgba(0, 0, 0, 0);
	border-bottom: 14px solid rgba(0, 0, 0, 0);
	
}

.Verdict_Success {
	background-color:#AADCAA;
	background:linear-gradient(to right,#A1D0A1,#AADCAA,#B4E9B4);
	color:black;
}

.Verdict_Not {
	background-color:#BA0000;
	background:linear-gradient(to right,#A90000,#BA0000,#C60000);
	color:white;
}

.Verdict_Fail {
	background-color:#FFE300;
	background:linear-gradient(to right,#F4D700,#FFE300,#FFE76E);
	color:black;
}

.Verdict_Awesome {
	background-color:#1B9915;
	background:linear-gradient(to right,#188A13,#1B9915,#1EA917);
	color:white;
}

.review .question, .view_review .question {
	padding:0.5em;
	padding-bottom:0;
}

.review .answer {
	background-color: rgb(252,252,227);
	padding:0.5em;
	padding-top:0.25em;
}

.view_review .answer {
	padding:0.5em;
	padding-top:0.25em;
	font-weight:bold;
}

.suButton {
	border-top:1px solid silver;
	background-color:rgb(58,201,88);
}

.question_container > .answer > textarea {
	width:100%;
	min-height:55px;
	font-size:14px;
	border:1px solid silver;
	padding: 0.5em;
	box-sizing: border-box;
}

.finalBlock {
	padding-left:1em;
}

input[type=radio] {
	margin-top:0.5em;
	margin-right:0.5em;
}

input[type=submit] {
	padding:0.5em;
	border-left:1px solid white;
	border-right:1px solid white;
}

.submitButton {
 	color:white;
 	background-color:rgb(58,201,88);
 	position:relative;
 	left:90%;
 }

.explanation {
	color:darkgray;
	margin-left:10px;
}

.mce-path-item {
	visibility:hidden!important;
}




.review_evaluation.active {
	text-shadow:0 1px 3px rgba(255,255,255,0.8), 0 -1px 2px rgba(0,0,0,0.2);
}

.review_evaluation.positive.active::before {
		content:'\25CF ';
		font-size:16px;
		color:green;
		text-shadow:0 1px 3px rgba(255,255,255,0.8), 0 -1px 2px rgba(0,0,0,0.2), 0 0 5px rgb(0,255,0);
		line-height:16px;
}

.review_evaluation.neutral.active::before {
		content:'\25CF ';
		font-size:16px;
		color:yellow;
		text-shadow:0 1px 3px rgba(255,255,255,0.8), 0 -1px 2px rgba(0,0,0,0.2), 0 0 5px rgb(255,255,0), 0 0 5px rgb(255,255,0);
		line-height:16px;
}

.review_evaluation.negative.active::before {
		content:'\25CF ';
		font-size:16px;
		color:red;
		text-shadow:0 1px 3px rgba(255,255,255,0.8), 0 -1px 2px rgba(0,0,0,0.2), 0 0 3px rgb(255,0,0);
		line-height:16px;
}

.review_evaluation:not(.active)::before {
	content:'\25CF ';
	font-size:16px;
	visibility:hidden;
	line-height:16px;
}


.review_evaluation.positive.active {
    color: rgb(47,162,71);
}

.review_evaluation.neutral.active {
	color: rgba(24,81,35,1);
}

.review_evaluation.negative.active {
    color: red;
}

.review_evaluation.waiting {
    color: orange;
}

.review_evaluation_container {
	float:left;
	position:relative;
	top:-2px;
}

.review_evaluation_text {
	float:left;
}
.review_evaluation_drawer {
	min-height:52px;
	border:1px solid rgba(255,255,255,0.3);
	background: lightgray;
	box-shadow: 0 1px 2px rgba(0,0,0,0.7);
	padding:6px;
	border-radius: 0 0 6px 6px;
	margin: 0 200px;
}

.review_evaluation {
	text-transform:uppercase;
	font-size:13px;
	cursor:pointer;
	padding:1px 1em 1px 1em;
}