
.review {
	max-width:940px;
	padding:1em;
}

.challenge > .title {
	font-weight:bold;
	background:#eee;
	padding:1em;
	padding-bottom:0;
}

.challenge > .description {
	font-size:90%;
	background:#eee;
	padding:1em;
}

.review > .elaboration {
	padding:1em;
	background:#eee;
	box-shadow: 0px 3px 6px #ccc inset;
}

.review > form {
	border: 1px solid silver;
}

.betweentext {
	margin-top:2em;
	padding:0.5em;
	color:white;
	background-color:rgb(58,201,88);
}

.question_container {
	margin-bottom:1em;
}

.question {
	padding:0.5em;
	padding-bottom:0;
}

.answer {
	background-color: rgb(252,252,227);
	padding:0.5em;
	padding-top:0.25em;
}

.suButton {
	border-top:1px solid silver;
	background-color:rgb(58,201,88);
}

.question_container > .answer > textarea {
	width:100%;
	height:5em;
	font-size:13px;
	border:1px solid silver;
	padding: 0.5em 0;
}

.finalBlock {
	padding-left:1em;
}

input[type=radio] {
	margin-top:0.5em;
	margin-right:0.5em;
}

input[type=submit] {
	padding:0.5em;
	border-left:1px solid white;
	border-right:1px solid white;
}

.button {
	color:white;
	background-color:rgb(58,201,88);
	position:relative;
	left:90%;
}
