<!DOCTYPE html>
<html>
<head>
  <title>Aurora</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.css">

  {% block additional_headers %}
  {% endblock %}

</head>
<body content="text/html">

{% block navigation %}
  {% include "navigation.html" %}
{% endblock %}

{% block content %}
{% endblock %}

  <div class="nothing_to_see_move_on" data-username="{{ user.username }}" id="the_username"></div>
  <div class="nothing_to_see_move_on" data-points="{{ sum }}" id="the_points"></div>

</body>
</html>