<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen"/>

  {% block additional_headers %}
  {% endblock %}

</head>
<body>


{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>