{% load staticfiles %}
{% load comments %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "js/feed.js" %}"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 300,
            onCompleted: function() {
                COMMENTS.registerAllTheElements();
                COMMENTS.stopPolling();
                loadFilter();
            }
        });
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/feed.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
    {% comments_boilerplate %}
	
	
    <div id="comments_column_1">
		<div class="feed_header newsfeed" id="all_the_news"><i class="fa fa-toggle-down half eventually"></i> <b>Open Newsfeed</b></div>
		<div id="content_all_the_news">
		<ul class="toolbar">
			<li class="button filterbtn" id="1" title="Show all comments" onclick="filterClick(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> All</li>
			<li class="button filterbtn" id="2" title="Show only comments posted by lecturers, tutors or yourself" onclick="filterClick(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> Lecturer Comments</li>
			{% if user.is_staff %}
			<li class="button filterbtn" id="99" title="Show only staff comments" onclick="filterClick(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> staff</li>
			{% endif %}
			<li class="button filterbtn" id="3" title="Show only comments rated higher than 3, plus your own comments" onclick="filterClick(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> good comments</li>
			<li class="button filterbtn" id="4" title="Show only top-level comments, hide all replies." onclick="filterClick(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> no replies</li>
			<li class="button filterbtn" id="0" title="Show only comments posted after you activate this filter" onclick="markT('{{user.username}}');filterClick(this.id,'{{user.username}}')"><i class="fa fa-eye"></i> new <span id="new_date"></span></li>
		</ul>
        {% render_multi_comment_list for newsfeed %}
		</div>
    </div>
{% endblock content %}



