{% load staticfiles %}
{% load comments %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "js/feed.js" %}"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/feed.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
    {% comments_boilerplate %}
	
	
    <div id="comments_column_1">
		<div style="background:black;color:white;padding:0.1em"><b>Open Newsfeed</b></div>
		<ul class="toolbar">
			<li class="button filterbtn" id="1" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> All</li>
			<li class="button filterbtn" id="2" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> Lecturer Comments</li>
			<li class="button filterbtn" id="-1" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> upvoted comments</li>
			<li class="button filterbtn" id="-5" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> &quot;decent&quot; comments</li>
			<li class="button filterbtn" id="0" onclick="markT('{{user.username}}');filter(this.id,'{{user.username}}')"><i class="fa fa-eye"></i> new</li>
		</ul>
        {% render_multi_comment_list for newsfeed %}
    </div>
{% endblock content %}
