{% load staticfiles %}
{% load comments %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "js/feed.js" %}"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 300,
            onCompleted: function() { COMMENTS.registerAllTheElements(); COMMENTS.stopPolling(); }
        });
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/feed.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
    {% comments_boilerplate %}
	
	
    <div id="comments_column_1">
		<div class="feed_header newsfeed" id="all_the_news"><i class="fa fa-toggle-down half eventually"></i> <b>Open Newsfeed</b></div>
		<div id="content_all_the_news">
		<ul class="toolbar">
			<li class="button filterbtn" id="1" title="Show all comments" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> All</li>
			<li class="button filterbtn" id="2" title="Show only comments posted by lecturers, tutors or yourself" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> Lecturer Comments</li>
			<li class="button filterbtn" id="-5" title="Show only comments rated higher than -5, plus your own comments" onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> &quot;decent&quot; comments</li>
			<li class="button filterbtn" id="4" title="Show only top-level comments, hide all replies." onclick="filter(this.id,'{{user.username}}');"><i class="fa fa-eye"></i> no replies</li>
			<li class="button filterbtn" id="0" title="Show only comments posted after you activate this filter" onclick="markT('{{user.username}}');filter(this.id,'{{user.username}}')"><i class="fa fa-eye"></i> new <span id="new_date"></span></li>
		</ul>
        {% render_multi_comment_list for newsfeed %}
		</div>
    </div>
{% endblock content %}



