{% extends "base.html" %}

{% block content %}
    {% include 'feed.html' %}

    <div id="info_column">
        {% if not user.is_staff %}
            <div class="feed_header"><b>Ihr Punktestand</b></div>
            {% include 'points.html' %}
        {% endif %}

        <div class="feed_header">
			<b>Informationen </b></div>
        <br>

        <p><B>Achtung:Wir befinden uns noch im Testbetrieb. Nichts von dem, was hier steht, ist verbindlich.</B></p><br>

        <p>Vorl&auml;fig gilt folgender <b>Punktespiegel:</b></p>
        <p>100 Punkte - sehr gut</p>
        <p>82 Punkte - gut</p>
        <p>66 Punkte - befriedigend</p>
        <p>51 Punkte - gen&uuml;gend</p>
        <br>
        <p><b>Video-Streams:</b></p>
        <br>
        <p><s>gsi - https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=139963 </s></p>
        <p><s>bhci - https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=139959 </s></p>
        <p>Video-Streams gibts auch noch nicht :(</p>
        <br>
        <p><b>Support:</b></p>
        <br>
		<p>Wenn sie Probleme haben, sich nicht auskennen oder Hilfe ben&ouml;tigen, so stehen ihnen folgende Informationsquellen zur Verf&uuml;gung:</p>
		<br>
		<p>- Lesen sie die Sidebar sorgf&auml;tig. Die Informationen hier werden immer wieder aktualisiert.</p>
		<p>- Wenn sie Fragen zu einem Task haben, dann nutzen sie bitte die M&ouml;glichkeit, bei den Beschreibungen der Tasks mit dem LVA-Team zu diskutieren. </p>
		<p>- Wenn sie mit einem Review oder einer Bewertung nicht zufrieden sind, dann nutzen sie bitte die dort angegliederten Kan&auml;le, um mit uns dar&uuml;ber zu reden.</p>
		<p>- Wenn sie eine andere Frage haben, die im allgemeinen Interesse ist, dann posten sie diese hier im Newsfeed.</p>
		<p>- Sollten sie eine Frage haben, die nur sie betrifft, dann schreiben sie uns bitte eine email:</p>
        <p><i>gsi: gsi@igw.tuwien.ac.at</p>
        <p>bhci: bhci@igw.tuwien.ac.at</i></p>
        <br><br>
        <div class="feed_header">
			<b>Frequently Asked Questions</b></div>
		
         <br>
        <p><i>Q: Wie unterscheidet sich der Modus zu dem des Vorjahres?</i></p>
        <p>A: Anstatt vieler kleiner, isolierter Activities sind die Arbeiten dieses Jahr in &raquo;Challenges&laquo; organisiert, die aus &raquo;Tasks&laquo; bestehen. Ihre Challenge wird bewertet, wenn sie den letzten Task absolviert haben. Um diesen abgeben zu k&ouml;nnen, m&uuml;ssen sie jedoch zuerst alle anderen Tasks eines Stacks bearbeiten. Diese werden jeweils in einem &raquo;Double Blind Peer Review&laquo; &uuml;berpr&uuml;ft. <br>Konkret bedeutet das, dass Sie zu Arbeiten ihrer Kolleg/innen anonym Feedback verfassen, und entsprechend anonymes Feedback von Kolleg/innen bekommen werden. </p>
        <br>
        <p><i>Q: Wann ist die Deadline f&uuml;r (eine/diese/alle) Challenges?</i></p>
        <p>A: F&uuml;r eine positive Note m&uuml;ssen sie bis Ende des Semesters ausreichend Punkte gesammelt haben. Diese bekommen sie f&uuml;r fertiggestellte Challenges, aber zB. auch f&uuml;r ausgezeichnete Kommentare bei den Folien.  Beachten sie jedoch, dass sie nach dem abschliessen einer Challenge zwei Wochen warten m&uuml;ssen, bevor sie wieder einen Final Task einreichen!</p>
        <br>
        <p><i>Q: Was kann ich machen, wenn die Bewertung meiner Arbeit nicht meinen Erwartungen entspricht?</i></p>
        <p>A: Sie k&ouml;nnen sie einen Kommentar zu ihrer Bewertung schreiben, in dem sie zb. eine Frage stellen, oder ihre
            Arbeit noch einmal besser erkl&auml;ren. Damit wird ihre Arbeit intern markiert und f&uuml;r uns noch einmal sichtbar. Ihr Kommentar wird jedenfalls beantwortet werden,
            auch wenn es manchmal etwas dauert.</p>
        <br>
        <p><i>Q: Ab wann werde ich bewertet?</i></p>
        <p>A: Sobald sie eine Challenge abgeschlossen haben, werden sie am Ende des Semesters ein Zeugnis ausgestellt bekommen. </p>
        <br>
        <p><i>Q: Wie war das nochmal mit dem Buch und dem Podcast?</i></p>
        <p>A: Wenn sie an »Gesellschaftliche Spannungsfelder der Informatik« teilnehmen, lesen sie bitte bis nach Ostern folgendes Buch: <a href="http://craphound.com/littlebrother">Cory Doctorow: Little Brother</a><br>
		Darüberhinaus steht zur Vertiefung einzelner Inhalte ein Podcast zur Verfügung: <a href="http://lex.iguw.tuwien.ac.at/groups/gespraeche/">Peter Purgathofer spricht mit...</a> (freiwillig)
		</p>
        <br><br>

        <div class="feed_header">
			<b>Vorlesungskalender</b></div>
         <br>
		<table style="float:left">
			<tr><td colspan=5><b>BHCI</b></td></tr>
			<tr><td class="month">m&auml;rz</td><td class="day">4</td><td class="day">11</td><td class="day">18</td><td class="day">25</td></tr>
			<tr><td>april</td><td class="day">1</td><td class="day">8</td><td class="day not">15</td><td class="day not">22</td><td class="day">29</td></tr>
			<tr><td>mai</td><td class="day">6</td><td class="day">13</td><td class="day">20</td><td class="day">27</td></tr>
			<tr><td>juni</td><td class="day">3</td><td class="day not">10</td><td class="day maybe">17*</td><td class="day maybe">24*</td></tr>
		</table>
		<table style="margin-left:230px">
			<tr><td colspan=5><b>GSI</b></td></tr>
			<tr><td class="month">m&auml;rz</td><td class="day not">5</td><td class="day">12</td><td class="day">19</td><td class="day">26</td></tr>
			<tr><td>april</td><td class="day">2</td><td class="day">9</td><td class="day not">15</td><td class="day not">22</td><td class="day">30</td></tr>
			<tr><td>mai</td><td class="day">7</td><td class="day">14</td><td class="day">21</td><td class="day">28</td></tr>
			<tr><td>juni</td><td class="day">4</td><td class="day">11</td><td class="day maybe">18*</td><td class="day maybe">25*</td></tr>
		</table>
		<br><br>
		<span class="maybe">* diese termine sind als reserve geplant. nach momentanen planungsstand findet da keine vorlesung statt. 
		<br><br><br><br><br>
    </div>
{% endblock %}