{% extends "base.html" %}

{% block content %}
    {% include 'feed.html' %}

    <div id="info_column">
        {% if not user.is_staff %}
            <div class="feed_header"  id="part_0"><i class="fa fa-toggle-down half"></i> <b>Ihr Punktestand</b></div>
			<div class="feed_column"  id="content_part_0">
            {% include 'points.html' %}
			</div>
        {% endif %}

		{% if user.is_staff %}
        <div class="feed_header" id="part_X">
			<i class="fa fa-toggle-down half"></i> <b>LVA-Team Ressources </b>
		</div>
        <div class="feed_column" id="content_part_X">
			<p><i style="color:gray" class="fa fa-arrow-right"></i> <a target="_blank" href="https://auri1-gsi.pbworks.com/w/page/77253689/FrontPage">Aurora Wiki</a><br>
			<i style="color:gray" class="fa fa-arrow-right"></i> TUWEL <a target="_blank" href="https://tuwel.tuwien.ac.at/course/view.php?id=5575">gsi</a> <a target="_blank" href="https://tuwel.tuwien.ac.at/course/view.php?id=5581">bhci</a><br></p><br>
		</div>
		{%  endif %}
        <div class="feed_header" id="part_1">
			<i class="fa fa-toggle-down half"></i> <b>Informationen </b>
		</div>
        <div class="feed_column" id="content_part_1">
			<p><b>Wesentliche Hinweise</b> ...<BR>
				...zum <a href="http://igw.tuwien.ac.at/aurora/aurora_challenges.pdf">Arbeiten in Aurora</a><br>
			 ...zum <a href="http://igw.tuwien.ac.at/aurora/aurora_reviews.pdf">Schreiben von Reviews</a><br>
			 ...zu <a href="http://igw.tuwien.ac.at/aurora/plagiatsleitfaden.pdf">Plagiaten</a></p><br>
	        <p>Hinweis: Diese Seite wird mit Mozilla- und Webkit-Browsern <b>(Firefox, Safari, Chrome)</b> entwickelt und getestet. Bitte verwenden sie Aurora mit einem dieser Browser. F&uuml;r alle anderen Browser &uuml;bernehmen wir keine Garantie. Melden Sie eventuelle Probleme auf unterstützten Browsern gegebenenfalls im &raquo;Bugs&amp;Feedback&laquo;-Bereich.</p><br>
	       <p>Es gilt folgender <b>Punktespiegel:</b></p>
	        <p>60 Punkte - sehr gut</p>
	        <p>53 Punkte - gut</p>
	        <p>47 Punkte - befriedigend</p>
	        <p>40 Punkte - gen&uuml;gend</p><br>
	        <p><b>Achtung:</b> F&uuml;r eine positive Note m&uuml;ssen Challenges im Umfang von 60 Punkten durchgearbeitet werden!</p><br>
	        <br>
	        <p><b>Video-Streams:</b></p>
	        <br>
	        <p>Die Video-Streams &uuml;bertragen w&auml;hrend der Vorlesungszeit die Vorlesung live: <br><br>
				{% if course.short_title == "gsi" %}
				&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i><a href="https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=178741">GSI live stream</a></p><br>
				{% else %}
				&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i><a href="https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=216701">BHCI live stream</a></p><br>
				{% endif %}
			<p>Ausserdem zeichnen wir diese Streams auf, und werden sie mit dem VO-Kalender verkn&uuml;pfen!</p>
	        <br><br>

	        <p><b>Support:</b></p>
	        <br>
			<p>Wenn sie Probleme haben, sich nicht auskennen oder Hilfe ben&ouml;tigen, so stehen ihnen folgende Informationsquellen zur Verf&uuml;gung:</p>
			<br>
			<p>- Lesen sie die Sidebar sorgf&auml;tig. Die Informationen hier werden immer wieder aktualisiert.</p>
			<p>- Wenn sie Fragen zu einem Task haben, dann nutzen sie bitte die M&ouml;glichkeit, bei den Beschreibungen der Tasks mit dem LVA-Team zu diskutieren. </p>
			<p>- Wenn sie mit einem Review oder einer Bewertung nicht zufrieden sind, dann nutzen sie bitte die dort angegliederten Kommentare, um mit uns dar&uuml;ber zu reden.</p>
			<p>- Wenn sie eine andere Frage haben, die im allgemeinen Interesse ist, dann posten sie diese hier im Newsfeed.</p>
			<p>- Sollten sie eine Frage haben, die nur sie betrifft, dann schreiben sie uns bitte eine email:</p><br>
			{% if course.short_title == "gsi" %}
	        <p><i><a href="mailto:gsi@igw.tuwien.ac.at">gsi@igw.tuwien.ac.at</a></i></p>
			{% else %}
	        <p><i><a href="mailto:bhci@igw.tuwien.ac.at">bhci@igw.tuwien.ac.at</a></i></p>
			{% endif %}
	        <br><br>
		</div>
        <div class="feed_header" id="part_2">
			<i class="fa fa-toggle-down half"></i> <b>Frequently Asked Questions</b>
		</div>
        <div class="feed_column" id="content_part_2">
	        <p><i>Q: Wie unterscheidet sich der Modus zu dem des Vorjahres?</i></p>
			<p>A: So gut wie gar nicht. Aurora wurde &uuml;berarbeitet, viele Bugs wurden behoben, und es wurden einige kleine Verbesserungen implementiert. Wir haben aber noch Pl&auml;ne, &uuml;ber das Semester hinweg ein paar neue Dinge zu versuchen. </p>
	        <br>
			<p><i>Q: Kann ich einfach irgendwelche Challenges machen, bis ich genug Punkte habe?</i></p>
			<p>A: Nein. Sie <b>m&uuml;ssen</b> f&uuml;r eine positive Note aus jeder der vier Kategorien (s.u.) mindestens eine Challenge absolvieren. Ansonsten steht Ihnen frei, was sie wann machen.</p> 
			<br>
			{% if course.short_title == "hci" %}
			<p><i>Q: Was sind die 4 Kategorien in BHCI?</i></p> 
			<p>- Kategorie 1: User-centered design + design basics<br>
			- Kategorie 2: Methoden<br>
			- Kategorie 3: psycholog. Grundlagen, Evaluation<br>
			- Kategorie 4: Prototyping, Beyond the desktop<br>
			</p>
			<br>
			{% endif %}
			{% if course.short_title == "gsi" %}
			<p><i>Q: Was sind die 4 Kategorien in GSI?</i></p> 
			<p>Das sind Platzhalter-Kategorien. Diese werden zu VO-beginn hier aktualisiert.<br></p>
			<p>- Kategorie 1: Nachdenken<br>
			- Kategorie 2: Reden<br>
			- Kategorie 3: Machen<br>
			- Kategorie 4: Reflexion<br>
			</p>
			<br>
			{% endif %}
	        <p><i>Q: Wann ist die Deadline f&uuml;r (eine/diese/alle) Challenges?</i></p>
	        <p>A: F&uuml;r eine positive Note m&uuml;ssen sie bis Ende des Semesters (Di 30.6.., 23:59)ausreichend Punkte gesammelt haben, und aus jeder Kategorie (s.o.) mindestens eine Challenge geschafft haben. Punkte bekommen sie f&uuml;r fertiggestellte Challenges, aber zB. auch f&uuml;r ausgezeichnete Kommentare bei den Folien.  Beachten sie jedoch, dass sie nach dem Abgeben einer Challenge (also des Final Tasks) etwa zwei Wochen (genau: 13 Tage) warten m&uuml;ssen, bevor sie wieder einen Final Task einreichen können!</p>
	        <br>
	        <p><i>Q: Was kann ich machen, wenn die Bewertung meiner Arbeit nicht meinen Erwartungen entspricht?</i></p>
	        <p>A: Sie k&ouml;nnen einen Kommentar zu ihrer Arbeit formulieren, in dem sie zb. eine Frage stellen, oder ihre
	            Arbeit noch einmal besser erkl&auml;ren. Damit wird ihre Arbeit intern markiert und f&uuml;r uns noch einmal 
				sichtbar. Ihr Kommentar wird jedenfalls beantwortet werden, auch wenn es manchmal etwas dauert.</p>
	        <br>
	        <p><i>Q: Ab wann werde ich bewertet?</i></p>
	        <p>A: Sobald sie eine Challenge abgeschlossen haben, wird f&uuml;r sie am Ende des Semesters ein Zeugnis 
				ausgestellt. </p>
	        <br>
	        <p><i>Q: Wie sind die Bewertungskategorien am Ende jedes Reviews zu verstehen?</i></p>
	        <p>A: Siehe <a href="http://igw.tuwien.ac.at/aurora/aurora_reviews.pdf">Zum Schreiben von Reviews</a></p>
	        <br>
	        <p><i>Q: Wie ist das jetzt mit den Punkten?</i></p>
	        <p>A: <i class="fa fa-arrow-right"></i> Sie <b>m&uuml;ssen</b> Challenges im Umfang von mind. 60 Punkten komplett 
				abarbeiten. Die Punkte sind bei der Beschreibung 
				von Challenges explizit angef&uuml;hrt (zB. &raquo;Sie k&ouml;nnen f&uuml;r Ihre Arbeit hier bis zu 10 Punkten 
				bekommen&laquo;)<br>
				<i class="fa fa-arrow-right"></i> Wir bewerten eine Challenge, wenn der final Task abgegeben wurde. F&uuml;r 
				M&auml;ngel bei einzelnen Tasks ziehen wir Punkte vom 
				erreichbaren Maximum ab, wobei die relative Wertigkeit der Tasks in der Taskbeschreibung in % angegeben ist. Diese Bewertung 
				erfolgt unabh&auml;ngig von den Review-Ergebnissen, die Sie bekommen haben.<br> 
				<i class="fa fa-arrow-right"></i> Die Summe der Punkte, die Sie f&uuml;r alle Challenges bekommen, bestimmt Ihre Note nach dem oben angegebenen Notenspiegel.
			</p>
	        <br><br>
		</div>
        <div class="feed_header" id="part_3">
			<i class="fa fa-toggle-down half"></i> <b>Vorlesungskalender</b>
		</div>
        <div class="feed_column" id="content_part_3">
			{% if course.short_title == "hci" %}
			<table>
				<tr><td colspan=5><b>BHCI</b></td></tr>
			</table><br>
			{% else %}
			<table>
				<tr><td colspan=5><b>GSI</b></td></tr>
			</table>
			{% endif %}
			<br><br>
			<span class="maybe" style="font-size:90%">* diese termine sind als reserve geplant. nach momentanen planungsstand findet da keine vorlesung statt. </span>
		</div>
		<br><br><br><br><br>
    </div>

{% endblock %}