{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/authentication.js"></script>
{% endblock %}

<div>
  <div class="pagehead">
  <div class="headline">
    Aurora <a href="/">Home</a>
   </div>

    {% if user.is_authenticated %}

      <ul>


        <li id="challenges-li">
          <a href="/challenges">Challenges</a>
        </li>

        <li id="slides-li">
          <a href="/{{ request.session.course_short_title }}/slides">Slides</a>
        </li>

        <li id="feed-li">
          <a href="/feed">Feed</a>
        </li>

        {% if user.is_staff %}
          <li id="evaluation-li">
            <a href="/evaluation">Evaluation</a>
          </li>
        {% endif %}


      </ul>


      <div class="logout_button">

        <button id="button_sign_out">Sign out</button>
      </div>
    {% endif %}
  </div>
</div>