{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/authentication.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/basic.css" type="text/css" media="screen"/>
{% endblock %}
<script>
  var static_url = "{{ STATIC_URL }}";
  var media_url = "{{ MEDIA_URL }}";
</script>
<div>
  <div class="pagehead">
    <div class="headline">
      <a href="{% url 'home' course.short_title %}">Aurora</a>
	  <div class="course_selected" onclick="location.href='/'">{{course.title}}</div>
    </div>

	<script>
		$('.pagehead').css('background-position','0 '+getCookie("AuroraP")+'%'); 
	</script>
	
	
    {% if user.is_authenticated %}

      <ul>
         <li id="feed-li">
            <a href="{% url 'home' course.short_title %}">Newsfeed</a>
         </li>

        <li id="challenges-li">
          <a href="{% url 'Challenge:home' course.short_title %}">Challenges</a>
        </li>

        <li id="slides-li">
          <a href="{% url 'Slides:start' course.short_title %}">Slides</a>
        </li>
			
        <li id="bugs-li">
          <a href="http://titanpad.com/iBHNzbfPb8" target="_blank">Bugs &amp; Feedback</a>
        </li>

        {% if user.is_staff %}
          <li id="evaluation-li">
            <a href="{% url 'Evaluation:home' course.short_title %}">Evaluation</a>
          </li>
        {% endif %}

        <li id="notifications-li" class="unread_notifications{% if unread_notifications|length != 0 %} glow{% endif %}">
          <a id="unread_notifications"  href="/notifications">{{ unread_notifications|length }}</a>
        </li>
      </ul>

	  <div class="user_info" style="background-image:url('{{ user.avatar.url }}')" onclick="window.location='{% url 'User:profile' course.short_title %}'">
		  <div class="user_nick">{{user.nickname}}</div>
		  <div class="profile_link">Click to edit</div>
	  </div>
  	<a class="logout_button" id="button_sign_out" href="{% url 'User:signout' course.short_title %}">Sign out</a>

    {% endif %}
  </div>
</div>