
{% block additional_headers %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/points.css" type="text/css" media="screen"/>
{% endblock %}

<script>
	var position = Math.round(({% for stack_data in stacks %}{{ stack_data.sum }}+{% endfor %}0) / (0.1+60 * {{stack_data|length}} * 100));
	if (position > 100) position=100;
    document.cookie = "AuroraP=" + position + "; expires=Tue, 18 Jan 2038 03:14:06 GMT";
    $('.pagehead').css('background-position', '0 ' + position + '%');
</script>

{% for stack_data in stacks %}
{% if stack_data.course_title == course.title %}
<div class="points_table">
    <table>
        <tr>
          <th colspan=2 class="course_title"></i> {{ stack_data.course_title }}</th>
        </tr>
        {% for stack in stack_data.course_stacks %}
            <tr class="pZeile{{forloop.parentloop.counter}}">
                <td class="stack_name">{{ stack.stack.title }}</td>
                <td class="punkte">{{ stack.points_earned }} / {{ stack.points_available }}</td>
            </tr>
        {% endfor %}

        <tr class="slides pZeile{{forloop.counter}}">
            <td>Slide Special Points</td>
            <td class="punkte">(inactive)</td>
        </tr>
        <tr class="slides pZeile{{forloop.counter}}">
            <td>Lock Period</td>
            <td class="punkte">{% if not stack_data.lock_period %}go for it{% else %}{{ stack_data.lock_period }}{% endif %}</td>
        </tr>
        <tr class="sum">
            <td class="letztezeile">Total</td>
            <td class="letztezeile punkte">{{ stack_data.sum }}</td>
        </tr>
    </table>
</div>
{% endif %}
{% endfor %} 
