{% load staticfiles %}

{% block additional_headers %}
    <script type="text/javascript" src="{% static "js/points.js" %}"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/points.css" type="text/css" media="screen"/>
  {% load humanize %}
{% endblock %}


{% for stack_data in stacks %}
  {% if stack_data.course_title == course.title %}
  <div class="points_table">
  

      <table>
        <tr>
          <td colspan=3></i> {{ stack_data.course_title }}</td>
        </tr>
        <tr class="sum">
          <td class="letztezeile sum">
			  <a href="javascript:tggle('.final_list');void(0);" style="color:black;text-decoration:none">
				  <i  style="color:#3AC958" class="fa fa-caret-square-o-down"></i> Awarded points so far</a></td>
          <td class="letztezeile punkte">{{ stack_data.evaluated_points_earned_total }}<span style="color:gray">/{{ stack_data.evaluated_points_available_total }}</span></td>
        </tr>
		</table><div class="final_list"  style="display:none"><table>
				{% for stack in stack_data.course_stacks %} <!-- loop 1: evaluated, valid challenges -->
		          {% if stack.is_submitted and stack.status.status == "Evaluated." and stack.points_earned != 0 %}
		            <tr class="pZeile{{ forloop.parentloop.counter }}">
		              <td class="stack_name">
		                <a style="text-decoration:none; color:black;"
		                   href="/{{ course.short_title }}/challenge/stack?id={{ stack.stack.id }}">
		                  <i class="fa fa-check-circle" style="color:gray"></i>
		                  <abbr title="{{ stack.status.status }}">{{ stack.stack.title }}</abbr>
		                </a>
		              </td>
		              <td class="punkte" style="vertical-align:bottom;">
		                {{ stack.points_earned }}/{{ stack.points_available }}
		              </td>
		            </tr>
		          {% endif %}
      			{% endfor %}
        {% for stack in stack_data.course_stacks %} <!-- loop 2: evaluated invalid challenges -->
          {% if stack.is_submitted and stack.status.status == "Evaluated." and stack.points_earned == 0 %}
            <tr class="pZeile{{ forloop.parentloop.counter }}">
              <td class="stack_name">
                <a style="text-decoration:none; color:black;"
                   href="/{{ course.short_title }}/challenge/stack?id={{ stack.stack.id }}">
                  <i class="fa fa-times" style="color:#D00"></i>
                  <abbr title="{{ stack.status.status }}">{{ stack.stack.title }}</abbr>
                </a>
              </td>
              <td class="punkte" style="vertical-align:bottom;">
                    <span style="color:lightgray">
                  		{{ stack.points_earned }}/{{ stack.points_available }}
			  		</span>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td>Slide Special Points</td>
          <td class="punkte">(inactive)</td>
        </tr>
		</table></div><table>

		{% if stack_data.submitted_points_available_total == 0 %}
	        <tr class="sum">
	          <td class="letztezeile sum" style="color:gray">
				  	<i  style="visibility:hidden" class="fa fa-caret-square-o-down"></i> In Evaluation</td>
	          <td class="letztezeile punkte" style="color:gray">&ndash;<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span></td>
	        </tr>
		{% else %}
	        <tr class="sum">
	          <td class="letztezeile sum">
				  <a href="javascript:tggle('.sub_list');void(0);" style="color:black;text-decoration:none">
				  	<i  style="color:#3AC958" class="fa fa-caret-square-o-down"></i> In Evaluation</td>
	          <td class="letztezeile punkte">{{ stack_data.submitted_points_available_total }}<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span></td>
	        </tr>
			</table><div class="sub_list" style="display:none"><table>
	        {% for stack in stack_data.course_stacks %} <!-- loop 3: challenges in evaluation -->
	          {% if stack.is_submitted and stack.status.status != "Evaluated." %}
	            <tr class="pZeile{{ forloop.parentloop.counter }}">
	              <td class="stack_name">
	                <a style="text-decoration:none; color:black;"
	                   href="/{{ course.short_title }}/challenge/stack?id={{ stack.stack.id }}">
	                  <i style="color:gray" class="fa fa-circle-o"></i>
	                  <abbr title="{{ stack.status.status }}">{{ stack.stack.title }}</abbr>
	                </a>
	              </td>
	              <td class="punkte" style="vertical-align:bottom;">
	                {{ stack.points_available }}<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span>
	              </td>
	            </tr>
	          {% endif %}
	        {% endfor %}
			</table></div><table>
		{% endif %}
		{% if stack_data.started_points_available_total == 0 %}
	        <tr class="sum">
	          <td class="letztezeile sum" style="color:gray">
				  	<i  style="visibility:hidden" class="fa fa-caret-square-o-down"></i> Work in progress</td>
	          <td class="letztezeile punkte" style="color:gray">&ndash;<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span></td>
	        </tr>
		{% else %}
			<tr class="sum"><td class="sum"><a href="javascript:tggle('.work_list');void(0);" style="color:black;text-decoration:none"><i style="color:#3AC958" class="fa fa-caret-square-o-down"></i> <span>Work in progress</span></a></td>
			          <td class="sum punkte">{{ stack_data.started_points_available_total }}<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span></td></tr>
			</table><div class="work_list"  style="display:none"><table>
	        {% for stack in stack_data.course_stacks %} <!-- loop 4: challenges started -->
	          {% if stack.is_started and not stack.is_submitted %}
	            <tr class="pZeile{{ forloop.parentloop.counter }}">
	              <td class="stack_name">
	                <a style="text-decoration:none; color:black;"
	                   href="/{{ course.short_title }}/challenge/stack?id={{ stack.stack.id }}">
					   {% if stack.is_blocked %}
	                  		<i style="color:#D00" class="fa fa-times"></i>
					   {% else %}
	                  		<i style="color:gray" class="fa fa-pencil"></i>
					   {% endif %}
	                  <abbr title="{{ stack.status.status }}">{{ stack.stack.title }}</abbr>
	                </a>
	              </td>
	              <td class="punkte" style="vertical-align:bottom;">
					   {% if stack.is_blocked %}
					   		<span style="color:lightgray">0</span><span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span>
					   {% else %}
							{{ stack.points_available }}<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span>
					   {% endif %}
	              </td>
	            </tr>
	          {% endif %}
	        {% endfor %}
			</table></div><table>
		{% endif %}
        <tr class="sum">
          <td  style="color:gray">
			 <i style="color:rgba(0,0,0,0);" class="fa fa-caret-square-o-down"></i> Optimistic Sum</td>
          <td class="punkte" style="vertical-align:bottom;color:gray">
		   {{stack_data.evaluated_points_earned_total|add:stack_data.started_points_available_total|add:stack_data.submitted_points_available_total}}<span style="visibility:hidden">/{{ stack_data.evaluated_points_available_total }}</span>
		  </td>
	  	</tr>
        <tr>
          <td colspan=2 style="padding-bottom:1em;">
                        <span class="punkte">
                          {% if not stack_data.lock_period %}
                            Hand-in is possible any time now.
                          {% else %}
                            <script>
                            </script>
                            Hand-in is possible <a style="color:black;text-decoration: none;"
                                                   href="javascript:$('#wai_t').text('{{ stack_data.lock_period|date:'j. M, H:i' }}');setTimeout(function(){ $('#wai_t').text('{{ stack_data.lock_period|naturaltime }}'); }, 3000);void(0);"
                                                   title="{{ stack_data.lock_period|date:'j. M, H:i' }}"><i
                              class="fa fa-calendar"></i>
                            <span ID="wai_t"> {{ stack_data.lock_period|naturaltime }}</span></a>
                          {% endif %}
                        </span>
          </td>
        </tr>


        <tr>
          <td colspan="2" style="font-size:80%;padding-top:1em;">
            Your reviews have been rated:
          </td>
        </tr>
        <tr>
          <td style="font-size:80%" colspan="2">
            <span
                style="color:rgba(0,109,0,
                    {% if review_evaluation_data.positive_review_evaluations == 0 %}
                      0.5
                    {% else %}
                      1
                    {% endif %}
                    )">
              {{ review_evaluation_data.positive_review_evaluations }}
              as »Helpful«
            </span>
            <br>
            <span
                style="color:rgba(0,50,0,
                    {% if review_evaluation_data.default_review_evaluations == 0 %}
                      0.5
                    {% else %}
                      1
                    {% endif %}
                    )">
              {{ review_evaluation_data.default_review_evaluations }}
              as »Average«
            </span>
            <br>
            <span
                style="color:rgba(255,0,0,
                    {% if review_evaluation_data.negative_review_evaluations == 0 %}
                      0.5
                    {% else %}
                      1
                    {% endif %}
                    )">
              {{ review_evaluation_data.negative_review_evaluations }}
              as »Meaningless or Offensive«
            </span>
          </td>
        </tr>
        <tr>
          <td colspan=2 style="font-size:80%">
            You have rated
            {% widthratio review_evaluation_data.review_evaluation_percent 1 100 %}% of all reviews you received.
            <br>
            {% if review_evaluation_data.review_evaluation_percent > 0.8 %}
              &rarr; you are currently eligible for an
              extra-point
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endfor %} 
