{% extends "base.html" %}

{% block additional_headers %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/lightbox.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
<div id="detail_area">

{% load render_uploads %}

{% if review %}
  <script>
    var stack_id = {{ stack_id }};
  </script>
  <div class="review" id="{{ review.id }}">
    <div class="challenge" id="{{ review.elaboration.challenge.id }}">

      <div class="title">
        {{ review.elaboration.challenge.title }}
      </div>
      <div class="description">
        {{ review.elaboration.challenge.description|urlizetrunc:25 }}
      </div>
    </div>

{% render_uploads review.elaboration %}

    <div class="elaboration">
      <textarea id="editor_review">{{ review.elaboration.elaboration_text }}</textarea>
    </div>

	<div class="betweentext"><i class="fa fa-arrow-right"></i> <b>Before you start reviewing, please read
		<a href="http://igw.tuwien.ac.at/aurora/aurora_reviews.pdf" style="color:yellow">About Reviewing</a>. 
		Then, carefully examine the work shown above and answer the following questions:</b> </div>
    <form>
{% for question in questions %}
        <div class="question_container">
{% if not question.visible_to_author %}
              <i class="fa fa-arrow-right"></i>Only the course team will be able to see this answer
{% endif %}
          <div class="question" id="{{ question.id }}">
            {{ question.text }}
          </div>
          <div class="answer {% if question.boolean_answer %}boolean_answer{% endif %}" id="{{ question.id }}"
              question_id="{{ question.id }}">
{% if question.boolean_answer %}
              <input type="radio" name="{{ question.id }}" id="{{ question.id }}Y" value="True"><label for="{{ question.id }}Y">Yes</label><br>
              <input type="radio" name="{{ question.id }}" id="{{ question.id }}N" value="False"><label for="{{ question.id }}N">No</label>
{% else %}
              <textarea id="text_answer" name="answer"></textarea>
{% endif %}
          </div>
        </div>
{% endfor %}
     	<div class="question">Your final verdict </div>
  	  <div class="answer">
      	<input type="radio" name="appraisal" value="A" id="apprA"> <label for="apprA">Great work <span class="explanation">Please only use for really outstanding work.</span></label><br>
      	<input type="radio" name="appraisal" value="S" id="apprS"> <label for="apprS">Good work <span class="explanation">The Author took the task serious and delivered acceptable work</span></label><br>
      	<input type="radio" name="appraisal" value="F" id="apprF"> <label for="apprF">Barely acceptable work <span class="explanation">The Author did the bare minimum to fulfill the task, handed in incomplete work or missed the point.</span></label><br>
      	<input type="radio" name="appraisal" value="N" id="apprN"> <label for="apprN">Unacceptable <span class="explanation">Please use only if the author tried to cheat (eg. plagiarize) or handed in »blind text« quality work</span></label><br><br>
  	  </div>
	  <div class="suButton">
    	  <input id="submit_button" class="button submitButton XL" style="padding-left:0.5em;" type="submit" value="Submit">
    </div>
    </form>
  </div>
{% else %}
  There are currently no elaborations available for review. Please try again later.
{% endif %}
</div>
{% endblock %}