{% block additional_headers %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
{% endblock %}

{% if review %}
  <script>
    var stack_id = {{ stack_id }};
  </script>
  <div class="review" id="{{ review.id }}">
    <div class="challenge" id="{{ review.elaboration.challenge.id }}">

      <div class="title">
        {{ review.elaboration.challenge.title }}
      </div>
      <div class="description">
        {{ review.elaboration.challenge.description }}
      </div>
    </div>

    <div class="elaboration">
      <textarea id="editor_review">{{ elaboration.elaboration_text|safe }}</textarea>
    </div>

	<div class="betweentext"><i class="fa fa-arrow-right"></i> Please carefully examine the work shown above and answer the following questions</div>
    <form>
      {% for question in questions %}
        <div class="question_container">
            {% if not question.visible_to_author %}
              <i class="fa fa-arrow-right"></i>Only the course team will be able to see this answer
            {% endif %}
          <div class="question" id="{{ question.id }}">
            {{ question.text }}
          </div>
          <div class="answer {% if question.boolean_answer %}boolean_answer{% endif %}" id="{{ question.id }}"
              question_id="{{ question.id }}">
            {% if question.boolean_answer %}
              <input type="radio" name="{{ question.id }}" value="yes"> Yes <br>
              <input type="radio" name="{{ question.id }}" value="no" checked> No
            {% else %}
              <textarea id="text_answer" name="answer"></textarea>
            {% endif %}
          </div>
        </div>
      {% endfor %}
     	<div class="question">Your final verdict </div>
  	  <div class="answer">
      	<input type="radio" name="appraisal" value="A"> Great work <br>
      	<input type="radio" name="appraisal" value="S" checked> Good work <br>
      	<input type="radio" name="appraisal" value="F"> Barely acceptable work <br>
      	<input type="radio" name="appraisal" value="N"> Unacceptable (*)<br><br>
  	  </div>
	  <div class="suButton">
    	  <input id="submit_button" class="button XL" style="padding-left:0.5em;" type="submit" value="Submit">
  	  </div>
    </form>
  </div>
{% else %}
  There are currently no elaborations available for review. Please try again later.
{% endif %}