{% load comments %}
{% load render_review_answers %}

{% block additional_headers %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
{% endblock %}
<div class="all_reviews">
    {% comments_boilerplate %}
	<div class="title">You received the following reviews for your work</div>		<div>&nbsp;</div>

	{% for review_data in reviews %}
	    <div class="view_review">

            {% render_review_answers review_data.review_id %}

            <div class="appraisal Verdict_{{ review_data.appraisal }}"><i class="fa fa-arrow-right"></i> Final verdict: <b>
            {% if review_data.appraisal == "Awesome" %} Great work
            {% elif review_data.appraisal == "Success" %} Good Work
            {% elif review_data.appraisal == "Fail" %} Barely acceptable
            {% elif review_data.appraisal == "Not even trying" %} Unacceptable
            {% endif %}
            </b>
            </div>
	    </div>
		<div class="comment_section">
			<b>Comments</b><br>
			If you find this review unacceptable, either if you disagree with what it says about your work, or if the review is banal or meaningless, you can voice your displeasure by posting a comment in this section. <br><br> 
			<div class="comments">
				{% render_multi_comment_list for review_data.review %}
			</div>
		</div>
		<div>&nbsp;</div>
	{% endfor %}
	</div>
</div>