.response {
	margin-top:0px;
	margin-bottom:16px;
	display:inline-block;
	width:90%;
}

.response_text {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
	padding:2px;
}

.response_vote {
	box-sizing: border-box;
	margin-top:6px;
	float:left;
	text-align:right;
	width:10%;
	padding:4px;
}

.response_vote > a {
	text-decoration:none;
	color:black;
}

.comment {
	margin-top:0px;
	margin-bottom:16px;
	display:inline-block;
	width:95%;
}

.comment_vote {
	box-sizing: border-box;
	margin-top:6px;
	float:left;
	text-align:right;
	width:5%;
	padding:4px;
}

.comment_vote a {
	text-decoration:none;
	color:black;
}

.comment_top, .response_top {
	height:19px;
	width:100%;
}

.comment_bottom {
	height:20px;
	width:100%;
}

.comment_actions, .response_actions {
	float:right;
}

.comment_actions a, .response_actions a {
	text-decoration:none;
	text-transform:uppercase;
	color:green;
	margin-left:6px;
}

.comment_text {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.comment_author, .response_author, .comment_deleter, .response_deleter {
    font-size: small;
	font-weight:bold;
	float:left;
	padding:2px;
}

.comment_score, .respons_score {
	font-size:small;
	float:left;
	padding:2px;
}

.comment_time {
	font-size:small;
	float:right;
	padding:2px;
}

.vote_up_on .vote_down_on {
    cursor: pointer;
}

.comments_with_forms {
    width: 400px;
}

.staff_visibility {
    color: darkgreen;
}

.staff_author > .comment_top {
    background-color: lightyellow;
}

.author_author > .comment_top {
	background-color: lightblue;
}

.private_visibility {
    color: rosybrown;
}

#comments_column_1 {
    float: left;
    width: 400px;
    overflow: auto;
}

#comments_column_2 {
    float: left;
    width: 680px;
    margin-left: 30px;
}

.edit

/*.delete_comment,.delete_response{*/
  /*float: right;*/
  /*background-image: url(/static/img/waiting.png);*/
  /*display: block;*/
  /*margin: 0 auto;*/
  /*text-indent: -9999px;*/
  /*width: 20px;*/
  /*height: 20px;*/
/*}*/

/*[contenteditable="true"]:active,*/
/*[contenteditable="true"]:focus{*/

 [contenteditable="true"] {
    background-color: #d3d3d3;
    border: none;
    outline: none;
}
