#notify_about_comment.inactive{
	color:silver;
	text-decoration:none;
}

#notify_about_comment.active{
	color:red;
}

.bookmark_list {
	padding:1em;
	width:580px;
}


.comment_form > p > textarea, .add_reply_form > p > textarea {
	width:99%;
	border:none;
    border-bottom: 1px solid #eee;
	padding:2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:17px;
	padding-top:4px;
	height:60px;
	background-color: rgb(252,252,227);
}

.add_reply_form > p > textarea {
	width:94.5%;
	margin-left:5%;
}
 
.comment_form, .add_reply_form{
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
}

.comment_form > p > label, .add_reply_form > p > label {
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:11px;
	display:none;
}

.add_reply_form > p > select {
	 margin-left:5%;
 }

.comment_form > p > select, .add_reply_form > p > select {
	float:left;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background-color:white;
	border:none;
	border-radius:0;
	padding:2px 4px;
	text-transform:uppercase;
	color:rgb(58,201,88);
	font-size:11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#button_post_reply,#button_cancel_reply,#id_visibility,#edit_save,#edit_cancel {
	cursor:pointer;
}

.comment_form > button,#edit_save,#edit_cancel, .add_reply_form > button {
	float:right;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background-color:white;
	border:none;
	text-transform:uppercase;
	color:rgb(58,201,88);
	font-size:11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.comments {
	max-width:680px;
}

.response {
	margin-left:5%;
	margin-top:0px;
	margin-bottom:8px;
	display:inline-block;
	width:95%;
}

.author_detail {
	clear:both;
	font-size:12px;
	color:#333;
	padding:6px;
	height:88px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3) inset;
	background-color:#ddd;
	cursor:pointer;
	position:relative;
	top:-1px;
}

.hidden_detail {
	display:none;
}

.author_detail .nick {
	font-weight:bold;
}
.author_detail img {
	height:96px;
	position:absolute;
	top:2px;
	right:2px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3) inset;	
}

.response_body, .comment_body {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    border-bottom: 1px solid #ddd;
	padding:2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:17px;
	padding-top:4px;
	min-height:40px;
}

.response_body > img, .comment_body > img {
	height:32px;
	float:left;
	margin-right:4px;
	cursor:pointer;
}


.response_vote {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top:14px;
	float:left;
	text-align:right;
	width:10%;
	padding:4px;
}

.response_vote > a {
	text-decoration:none;
	color:black;
}

.notBlack {
	color:#666;
}

.button_add_comment_form {
	margin-top:1em;
	font-size:100%;
}

.comment {
	margin-top:12px;
	margin-bottom:0px;
	display:inline-block;
	width:100%;
}

.comment:hover .comment_actions, .response:hover .response_actions {
	filter:alpha(opacity=100); 
	opacity:1;
}

.comment_vote {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top:19px;
	float:left;
	text-align:right;
	width:5%;
	padding:4px;
	clear:both;
}

.comment_vote a {
	text-decoration:none;
	color:black;
}

.comment_top, .response_top {
    background-color: #eee;
	height:17px;
	width:100%;
	vertical-align:bottom;
	cursor:pointer;
    border-bottom: 1px solid #ddd;
}

.comment_numreplies {
	height:15px;
	font-weight:normal;
	float:left;
	padding:2px;
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display:none;
}

.comment_actions, .response_actions {
	height:20px;
	width:100%;
}

.comment_actions, .response_actions {
/*	filter:alpha(opacity=35); 
	opacity:0.35;*/
}

.comment_unbookmark, .comment_bookmark {
	display:inline-block;
	float:left;
}

.comment_actions > a, .response_actions > a, .comment_bottom > a, .response_bottom > a {
	text-decoration:none;
	text-transform:uppercase;
	color:rgb(58,201,88);
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flR {
	float:right;
}

.comment_award { 
	height:15px;
	float:right;
	position:relative;
	bottom:-2px;
}

.gold {
	font-size:15px;
	position:relative;
	bottom:3px;
	right:2px;
	margin-left:4px;
	color: #E7CD00;
    text-shadow: 0 0 1px green,0 0 1px orange;
}

.ungold {
	font-size:15px;
	position:relative;
	bottom:3px;
	right:2px;
	margin-left:4px;
	color:white;
	text-shadow: 0 0 1px black,0 0 1px black;
}

.comment_author, .response_author {
	height:15px;
	font-weight:bold;
	float:left;
	padding:2px;
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment_deleter, .response_deleter {
	font-style:italic;
	float:left;
	padding:2px;
	font-size:11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
}
.comment_time, .response_time {
	height:15px;
	font-weight:normal;
	float:left;
	padding:2px;
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment_score, .response_score {
	height:15px;
	float:right;
	padding:2px;
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.upvoted, .upvoted .vote_up_on .fa {
	color:#FF8B60;
	cursor:default;
}

.upvoted .vote_down_on .fa {
	color:silver;
}

.downvoted, .downvoted .vote_down_on .fa {
    color: #9494FF;
	cursor:default;
}

.downvoted .vote_up_on .fa {
    color: silver;
}


.vote_up_on .vote_down_on {
    cursor: pointer;
}

.comments_with_forms {
    width: 400px;
}

.staff_visibility {
    color: darkgreen;
}

.staff_author > .comment_top, .staff_author > .response_top {
    background-color: rgb(229, 235, 253);
}

.staff_author > .comment_body, .staff_author > .response_body {
    background-color: rgb(245,247,252);
}

.comment_body, .response_body {
	background: #f8f8f8;
}

/* self-yellow */
.author_author > .comment_top, .author_author > .response_top {
	background-color: rgb(251, 249, 149);
}

.author_author > .comment_body, .author_author > .response_body {
	background-color: #F6F8CE; /* was rgb(252,252,227);*/
}

.private_visibility {
	color:gray;
}

.private_visibility > .comment_body {
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
}


#comments_column_1 {
	float:left;
    width: 580px;
    overflow: auto;
	margin-left:1em;
	margin-top:2em;
}

#info_column {
	float:left;
	width:330px;
	margin-top:2em;
	margin-left:1em;
	padding-left:1em;
	border-left:1px dashed silver;
}

#info_column p {
	font-size:14px;
}

#comments_column_2 {
    float: left;
    width: 580px;
    margin-left: 30px;
}

.edit

/*.delete_comment,.delete_response{*/
  /*float: right;*/
  /*background-image: url(/static/img/waiting.png);*/
  /*display: block;*/
  /*margin: 0 auto;*/
  /*text-indent: -9999px;*/
  /*width: 20px;*/
  /*height: 20px;*/
/*}*/

/*[contenteditable="true"]:active,*/
/*[contenteditable="true"]:focus{*/

 [contenteditable="true"] {
    background-color: #d3d3d3;
    border: none;
    outline: none;
}

#edit_buttons, #delete_buttons {
    float: right;
}
